[2018-04-10 22:14] nckturner opened #1 "Kick off meeting for cloud-provider-aws"
On **Friday, April 13 9:00 AM PDT** we will discuss our approach to using this repository.  This may include repository structure, scope, migration strategy, any specifics about the components that people would like to discuss, and finally owners/contributors for areas of work.  (CSI, flex, CCM, ...)

Links:
* [Zoom](https://zoom.us/j/787449961)
* [SIG-AWS agenda & notes](https://docs.google.com/d

[2018-04-11 17:36] wlan0 commented on #1
@nckturner There is a proposal by @hogepodge that details out the requirements for CCM repos - https://github.com/kubernetes/community/pull/1942

https://github.com/kubernetes/community/blob/master/keps/0002-controller-manager.md

[2018-05-24 14:43] jessfraz opened #4 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-07-11 03:11] #1 closed

[2018-07-16 09:23] aojea opened #5 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-09-21 21:32] fejta commented on #4
/remove-lifecycle rotten

[2018-10-04 23:08] mcrute commented on #4
/remove-lifecycle rotten

[2018-10-05 07:55] jsafrane opened #13 "Move beta annotations to GA"
AWS cloud provider uses couple of load balancer annotations that are still marked as beta: https://github.com/kubernetes/kubernetes/blob/076dbc6fd645f66488d5adb374fd338ed5f9a439/pkg/cloudprovider/providers/aws/aws.go#L98

Some of them are more than 2 years old. They should be stable by now. Now that cloud provider is being moved is a great time to clean them up.

Note that according to [API deprec

[2018-10-05 11:58] danielsand opened #14 "Kubernetes 1.11.x => 1.12.x AWS Cloud Provider fails to align AWSInstances <=> Kubernetes Instances"
Hello,

i have chef + terraform + kubeadm glued together to raise quickly a Kubernetes cluster in any version inside of AWS with nginx ingress + ELB installed via default.

Starting of Kubernetes Version 1.11.x => this stops working.

The AWS Cloud provider doesn't populate the ELB with the EC2 Nodes anymore.

The Only hint i have is that this Log lines appears in the Kubernetes-Controller pod.

[

[2018-10-08 10:00] danielsand commented on #14
side note:

node.Spec.ProviderID

is not set on the cluster nodes under 1.11.x

[2018-10-09 22:16] D2809 opened #15 "what is the aws command that we can use to add a K8s pod's ip address into an NLB. As well as how to remove the IP from the existing NLB."
Would this command work?
aws --region us-east-1 elb register-instances-with-load-balancer --load-balancer-name <nlb-name> --instances <ec2-instance-id>

[2018-10-09 22:33] D2809 commented on #15
I am not using VPC CNI.
I have written a cfn template for NLB which points to autoscaler.
Now I dont want my NLB to point to autoscaler. I have pods running on ec2 instances this autoscaler creates.
I want to edit my NLB cfn template in a way that it gets the ip addresses of pods running on this ec2 instances. Will this be possible.
and I found this command somewhere in the net
Would this command

[2018-10-15 05:34] varuns-zetaris commented on #14
Is there any solution to this issue. We are also facing the same problem when running k8s in AWS

[2018-10-16 20:42] ArchiFleKs commented on #14
I had the same issue, are you using v1alpha3 ?

Here is my InitConfig :

[code]

It turns out that it is not use by the node, you need a JoinConfiguration:

[code]

Mine was missing the AWS cloud provider therefore node were not using it and were not getting providerID.

[2018-10-23 18:33] danielsand commented on #14
@ArchiFleKs thanks - that is a good hint.
I will try it out

[2018-11-13 19:21] #4 closed

[2018-11-15 20:14] mcrute opened #20 "Migrate from glog to klog"
Migrate all usages of `glog` to the vendored `klog` introduced in kubernetes/kubernetes#70889

[2018-12-18 23:41] darwin67 commented on #14
hit this issue as well and confirmed that adding `cloud-provider: aws` to node's kubelet args will resolve it

[2019-02-12 03:54] Benjamin-Dobell opened #27 "AWS node/instance security group - misuse of cluster tag"
Cross post of k8s issue. **Aside:** Is there an official policy on where cloud provider issues should be opened?

---

The AWS cloud provider cluster tag, which defines ownership semantics, is presently being utilised improperly for unrelated purposes. In particular, _attempting_ to identify which instance security groups should be updated to allow inbound load balancer traffic.

This means we (or

[2019-02-12 03:55] Benjamin-Dobell commented on #27
Upstream issue https://github.com/kubernetes/kubernetes/issues/73906

[2019-02-13 18:34] zacharya opened #28 "Add ability to provide an EBS volume snapshot ID for the EBS storage class"
We have internal requirements that all EBS volumes be encrypted and based off of a certain snapshot in our accounts.  Currently there is no way to pass in a snapshot ID, however the change is trivial and I have an enhancement queued up if the maintainers agree to add this functionality.

[2019-02-14 19:09] mcrute commented on #20
/remove-lifecycle stale

[2019-02-19 14:58] zacharya commented on #28
This will be handled by the EBS CSI driver.  Closing.

[2019-02-19 14:58] #28 closed

[2019-02-26 00:36] randomvariable opened #33 "Tighten IAM Permissions"
Related to https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/608

**What would you like to be added**:
[Cluster API Provider AWS](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/aws/services/cloudformation/bootstrap.go) attempts to use least privileges whereever possible.

The project maintains a copy of the IAM policies used by cloud-provider-aws

[2019-03-04 09:56] #13 closed

[2019-03-08 23:44] #15 closed

[2019-05-03 06:53] Pratima commented on #27
Completely agree. Would like to bump this post. We can't use istio nlb ingress with our worker pools that have multiple security groups.
We use [Terraform AWS EKS module](https://github.com/terraform-aws-modules/terraform-aws-eks) to setup our cluster.

[2019-05-17 13:28] selslack opened #36 "NLB LoadBalancer doesn't update security groups"
I've changed `loadBalancerSourceRanges` for the `LoadBalancer` service with `service.beta.kubernetes.io/aws-load-balancer-type: nlb` annotation.

**What happened**: Well, nothing.

**What you expected to happen**: SG for node should be updated with corresponding ranges from `loadBalancerSourceRanges`.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create `LoadBalancer` servi

[2019-05-18 01:54] #14 closed

[2019-05-21 18:06] hangxie opened #37 "Support to use IPv6 address from ec2 meta data"
**What would you like to be added**: Allow node use IPv6 addresses

**Why is this needed**: When we launch IPv6-only kubernetes cluster on AWS, kubelet etc. keep using IPv4 IP which cause problem, there should be a flag to indicate if people want to enforce IPv6 and that flag will control where to read IP address from ec2 meta data (local-ipv4s or ipv6s), example of hardcoded ipv4: https://github.

[2019-05-21 21:12] hangxie commented on #37
I have a quick and dirty patch to make things work for me, I don't want to submit a PR for this as 1. there may be better way to do it, and 2. I don't have time to test everything.

[code]

[2019-05-27 02:20] tdmalone commented on #33
/remove-lifecycle stale

[2019-06-10 15:50] bartelsb opened #39 "Use Cross-Account Roles"
**What would you like to be added**:
The ability to use [cross-account roles](https://docs.aws.amazon.com/IAM/latest/UserGuide/tutorial_cross-account-with-roles.html) within my Kubernetes cluster.

**Why is this needed**:
I am managing a cluster in an AWS account that is not mine. I will soon not have credentials to that account. Instead, I will use a user from my own account to assume a role in t

[2019-06-21 15:58] hibbert opened #40 "Port ranges for ELB SG or allow for main SG to be managed"
**What happened**:

Run out of security group rules, due to K8S managing the SG for the ELB and adding rules for
each specific port

**What you expected to happen**:

One of either:-
* Allow a port range
* Allow SG to be created and managed outside of k8s and added in, some sort of annotation like service.beta.kubernetes.io/aws-load-balancer-extra-security-groups

**How to reproduce it (as minimal

[2019-06-21 16:03] hibbert opened #41 "Port ranges for ELB SG or allow for main SG to be managed #79279"
**What would you like to be added**:

One of either:-

* Allow a port range
* Allow SG to be created and managed outside of k8s and added in, some sort of annotation like service.beta.kubernetes.io/aws-load-balancer-extra-security-groups

**Why is this needed**:

You can end up running into security group rule limits, due to K8S managing the SG for the ELB and adding rules for each specific port

[2019-06-21 17:01] #40 closed

[2019-06-21 17:01] hibbert commented on #40
Raised as feature

[2019-06-25 00:20] darwin67 opened #42 "Status of project and documentation"
Following the announcement of `v1.15.0`, my understanding is that the future development of cloud providers are being moved out of the kubernetes core.

Existing core including AWS has been moved to https://github.com/kubernetes/legacy-cloud-providers.
Which pretty much breaks the link in [note][broken-link] and also seems like in-tree providers will be completely removed in the next couple releas

[2019-06-28 17:36] Benjamin-Dobell commented on #27
Looks like the [cluster-api-provider-aws has new tags](https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/tag/v0.3.2):

I'm still using Kops, but keen to migrate.

However, it looks like the cloud-provider still [documents the `owned` cluster tag as being tied to the lifecycle of the cluster](https://github.com/kubernetes/cloud-provider-aws/blob/master/pkg/cloudprovider/providers

[2019-07-01 16:33] Vamsi51m opened #44 "AWS Cloud Providers in k8s usable sample/example"
**Regarding the AWS Cloud Providers in k8s**

We are trying to use the cloud providers in the kubernetes 1.14.0 looks like we are there are a few issues in creating the cloud providers with the cluster.

Can we get a usable sample/example for AWS Cloud Providers in the k8s. Any help on this would be helpful.

[2019-07-13 13:51] ykzj commented on #36
NLB is not supporting security group now.

[2019-07-14 21:35] #20 closed

[2019-07-19 23:55] tkang007 opened #46 "How to disable http listener of classic load balancer ?"
Hello,

I am looking for way to omit/disable http listener on the created classic load balancer at aws eks v1.13.7-eks-c57ff8 environment.

It looks okay when I deleted the listener on the management console.
But,  I cannot find any way or any similar annotations for this case.

Is there any way to use only https listener for classic load balancer (not with ingress) ?

Thanks in advance.

[2019-07-27 05:14] sergey-safarov opened #47 "Add limit of used zones/IP for service cloud LoadBalancer"
**What would you like to be added**:
I want publish SIP service for external Internet. To do this recommended use service with type `LoadBalancer`. In my case to get it working properly need assign only one IP for each `pod:port`.
In current implementation `LoadBalancer` created over several zones and one `private` IP matched to several `public` IP.
Example

yaml file
[code]
service status
[code]

[2019-07-27 05:16] sergey-safarov commented on #47
Screenshot that demonstrate AWS ability to define load-balancer via one zone, using on public IP.
![Screenshot](https://user-images.githubusercontent.com/2562241/61990314-cfae0b80-b046-11e9-8979-ca6de52d9ebd.png)

[2019-07-27 06:16] sergey-safarov opened #48 "LoadBalancerIP support for Amazon LoadBalancer"
**What would you like to be added**:
Amazon cloud support addition elastic IP as loadbalancer external IP. Screenshot attached.
But I cannot use this featured as not supported for Kubernetes 1.13. I receive error `LoadBalancerIP cannot be specified for AWS ELB`.

![load balancer elastic IP settings](https://user-images.githubusercontent.com/2562241/61150295-c3c13600-a4eb-11e9-8257-1dd5cc9b7385.png

[2019-08-02 10:55] bordeuax opened #49 "Override load-balancer healthcheck target via annotations"
**What would you like to be added**:
Have a kubernetes service annotation like "service.beta.kubernetes.io/aws-load-balancer-healthcheck-target", that can override the default healthcheck target and follow the format from aws-sdk for Go lang , for more info see  Target field  https://docs.aws.amazon.com/sdk-for-go/api/service/elb/#HealthCheck.

**Why is this needed**:
I have two uses cases
1.  One

[2019-08-08 19:26] krish7919 opened #51 "NLB HealthCheckIntervalSeconds cannot be overridden with annotations"
**What happened**:
The docs and the code [here](const ServiceAnnotationLoadBalancerHCInterval = "service.beta.kubernetes.io/aws-load-balancer-healthcheck-interval") clearly state that we can use annotations to override the healthcheck interval:

[code]

**What you expected to happen**:

When I set the annotation to, for example, `5`, I want the healthchecks to happen every 5 seconds.

**How to rep

[2019-08-08 19:27] krish7919 commented on #51
I can submit a PR to fix this, if there is a reason why this is not overridden by the user defined value; if there is a design document discussing it.

[2019-08-10 17:29] krish7919 commented on #51
sig-network

[2019-08-10 17:30] krish7919 commented on #51
@jsafrane can you please mention the right folks here, if possible. Thanks!

[2019-08-12 08:57] jsafrane commented on #51
I believe @mcrute and @nckturner are the right people

[2019-08-12 11:07] manvendra-singh0x7cd commented on #27
@Benjamin-Dobell  Any updates on this ?

[2019-08-14 10:29] krish7919 commented on #51
I was going through the AWS docs about this and it seems one cannot change it if the protocol is TCP, and AWS mandates the health check interval to be 30 seconds. :(

From the docs at: https://docs.aws.amazon.com/cli/latest/reference/elbv2/modify-target-group.html

[code]

[2019-08-19 09:59] krish7919 commented on #51
Would a PR help here?

And can it be backported to v1.11.9 which is being used by EKS?

[2019-08-22 15:50] SleepyBrett opened #52 "Lessen the pain of outgrowing ELB subnets by allowing multiple subnets per zone."
**What would you like to be added**:
We've outgrown the subnets we were originally provided (from an upstream team) for ELB allocation. In the past we've always been able to get larger subnets and essentially replace them. We've now reached the point where our upstream team is having a hard time finding a contiguous subnet block large enough to allocate to us (let alone one per az).

We've noticed

[2019-08-23 15:16] krish7919 commented on #51
Opened a corresponding issues in k8s repo [here](https://github.com/kubernetes/kubernetes/issues/81469).

[2019-08-26 01:12] detiber commented on #33
/remove-lifecycle stale

[2019-09-05 10:41] CCsamteale opened #53 "Support TargetType: ip for NLB - Issue with SRC/DEST packet resets using NLB from within the cluster"
**What happened**:
When accessing NLB from within kubernetes cluster intermittent packets are dropped due to src/dest being the same in some traffic flows.

This issue occurs when TargetType is set to instance, when set to IP the issue is resolved.

It looks like at present it is hardcoded to instance, happy to provide a pull request unless more discussions are needed around this?

**What you expe

[2019-09-05 15:23] plumdog commented on #48
It seems that support for this did find its way into the in-tree cloud provider, but is missing from this out-of-tree provider. The original PR is here https://github.com/kubernetes/kubernetes/pull/69263

@brooksgarrett it was your work originally got this support into the cloud provider, but it would seem to have got lost in the move to the separate repo. By the looks of things, the original work

[2019-09-05 19:48] brooksgarrett commented on #48
It was nearly a year from opening the PR to merge so I'm completely out of touch with the code base. I'll look when I have a moment and see if I can get it sorted.

[2019-09-05 20:21] plumdog commented on #48
Looking some more, might `LoadBalancerIP` be a better place to specify this, see https://kubernetes.io/docs/concepts/services-networking/service/#loadbalancer

[2019-09-09 11:47] alx13 opened #54 "LoadBalancer with NLB type will not deregister healthy targets although they should be deregistered"
**What happened**:
LoadBalancer with NLB type will not deregister healthy targets although they should be deregistered.
[pkg/cloudprovider/providers/aws/aws_loadbalancer.go#L448](https://github.com/kubernetes/cloud-provider-aws/blob/master/pkg/cloudprovider/providers/aws/aws_loadbalancer.go#L448)
[code]
Reason is `nil` for healthy instances [aws-sdk](https://github.com/aws/aws-sdk-go/blob/master/s

[2019-09-09 14:59] bartelsb commented on #39
/remove-lifecycle stale

[2019-09-09 16:55] micahhausler commented on #39
Hi @bartelsb, This repo isn't quite up to date and needs a note in the README as to the status, but in the upstream AWS cloudprovider, this is possible today.

You'll need to create a CloudConfig file, and set the [`RoleArn`](https://github.com/kubernetes/kubernetes/blob/v1.16.0-beta.1/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L560) field when you start the Kubernetes Controller Manager

[2019-09-11 05:55] selslack commented on #36
@ykzj This is about Security Groups **for nodes**, which are being applied/managed by k8s to support `loadBalancerSourceRanges`.

[2019-09-11 05:57] selslack commented on #42
This repo is kinda dead, yea.

[2019-09-12 20:28] mrf opened #55 "Allow load balancer name to be provided via service annotation"
**What would you like to be added**:
Would like to add an additional annotation type for the load balancer name.

**Why is this needed**:
Currently balancer can only be created with a machine-generated name making it very hard to distinguish in AWS if multiple balancers have been created within an account.

Additionally the DefaultLoadBalancerName from the cloud-provider package which is currently

[2019-09-13 15:40] ekristen opened #57 "Proper Node Names -- Config Option on How This is Set"
**What would you like to be added**:

A configuration option to choose node naming:

* do not change existing node names
* change but use the requested hostname or resolved hostname from the server (might not be an option)
* keep current behavior (use internal DNS)

**Why is this needed**:

IMO, This is unexpected behavior and a bad user experience.

I currently use Rancher 2 and various tooling t

[2019-09-18 14:12] bassco opened #58 "Allow NodeGroup/ASG targeting for ?LB instances"
**What would you like to be added**:

Our cluster has been created with ***kops***.

We operate multiple instance groups in our cluster to partition the different workloads we run.

I would like an annotation on the *aws-load-balancer* for targeted instances that will be assigned to the ELB/ALB/NLB TargetGroup using a tag.

E.g.:

`service.beta.kubernetes.io/aws-load-balancer-node-groups: "asg-nod

[2019-09-27 14:41] philandstuff opened #60 "NLBs don't seem to support tagging"
**What happened**: I created a Service with `service.beta.kubernetes.io/aws-load-balancer-type: nlb` and `service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags: Environment=sandbox-main,Name=sandbox-main-ingress`.

**What you expected to happen**: I expected to get an NLB with the given tags. Instead I got an NLB with no tags.

**How to reproduce it (as minimally and precisely as p

[2019-10-10 00:54] kapilt commented on #60
i was curious and looked at the source, afaics it does support creating the nlb tags and target group tags (https://github.com/kubernetes/cloud-provider-aws/blob/master/pkg/cloudprovider/providers/aws/aws_loadbalancer.go#L131), and your annotation is correct

[2019-10-11 12:38] izakp commented on #48
Looking for this feature as well to host our top-level domian proxy app on Kubernetes rather than a standalone server

[2019-10-18 23:20] #37 closed

[2019-11-12 17:47] andrewsykim opened #63 "Allow for hostnames other than private dns"
**What would you like to be added**:
Does the out-of-tree AWS cloud provider allow for hostname overrides or at least hostnames that aren't the private DNS name? There's a few issues in kubernetes/kubernetes regarding limitations in the kubelet where it can only assign the private DNS name as a node name, it would be great if the out-of-tree provider allows for more flexiblity here without breakin

[2019-11-12 17:48] andrewsykim commented on #63
@justinsb @nckturner @M00nF1sh can you comment on if the out-of-tree provider will allow for hostnames aside from private DNS? I assumption is yes because we will be working with whatever hostname the kubelet (without --cloud-provider=aws) has already.

[2019-11-13 15:20] delpic opened #64 "Unable to deploy cluster onto AWS us-east-1 region"
**What happened**:
I was in the process of running the `kubeadm init` command to initialize the first control plane for the cluster, but I ran into an issue when running this command as it times out. I had no issues deploying a k8s cluster with kubeadm prior to this, the only difference now is that I am using the aws cloud provider.

In syslog, I am seeing the following:
[code]
Reaching out for he

[2019-11-14 09:29] nckturner commented on #63
I think we should allow for different hostnames--we have the same assumption in EKS, so I think the out of tree cloud provider would be a perfect place to add the flexibility, and we should remove those assumptions from EKS by the time we migrate to out-of-tree.

[2019-11-18 18:21] #41 closed

[2019-11-19 07:09] crazytaxii commented on #44
I am looking for an example too, find no such images and yaml files to use.

[2019-11-21 07:22] vvbogdanov87 commented on #49
Kuberntes 1.14 [uses SSL health checks for ELBs when backend protocol is SSL/HTTPS](https://github.com/kubernetes/kubernetes/pull/70309)
But for the health check pIng target k8s selects first port in the listeners list
https://github.com/2rs2ts/kubernetes/blob/72895a84a9670d6f6f8921681c5bbe4b2745319e/pkg/cloudprovider/providers/aws/aws.go#L3602
Without annotation described above, you MUST set http

[2019-11-25 19:34] edgan commented on #63
I implemented this on my own. The change is very minimal. The only thing what would probably change in an official patch would be the tag name.

http://cygnusx-1.org/kubernetes-aws-hostnames.patch

[2019-11-27 15:31] ivan-sukhomlyn opened #65 "Don't create an additional SecurityGroups if it's already defined by aws-load-balancer-security-groups annotation"
**What happened**:
AWS Cloud provider creates an additional AWS Security Group per LoadBalancer defined in Kubernetes Service configuration in case if it's already defined by `service.beta.kubernetes.io/aws-load-balancer-security-groups` annotation

**What you expected to happen**:
Don't create an additional SG and don't rewrite rules on SG provided by `aws-load-balancer-security-groups` annotatio

[2019-12-02 19:49] detiber commented on #33
/lifecycle frozen

[2019-12-03 01:15] nicolasbelanger commented on #49
Got burned by this too today.  Consequence:  no more ingress, useless cluster.  We're using ambassador as the gateway, and the default values for the service is exactly as @vvbogdanov87 described above, http first, https second.  SSL ping target was done on the http port, which failed.

[2019-12-03 19:56] 2rs2ts commented on #49
Use case 2 in the original post is pretty common at my company, so I'd love to have this. We do not use the standalone provider at my company though so I don't think even if I could find the time to implement this that I would know how to test it.

[2019-12-04 18:44] DzmitrySudnik commented on #65
More over, it never cleans that security groups leaving it orphaned clattering your account and eventually hitting a limit.

[2019-12-06 14:59] DzmitrySudnik opened #66 "ELBs are created and deleted sequentially which take a lot of time"
Not sure if it's a bug or a conscious decision, but it causes some pain for our use cases when we need to provision a lot of services with ELBs in a short period of time.

**What happened**:
When I create a bunch of services at the same time (like 100) it take about 6 minutes to provision all ELBs. From the controller logs it looks like it processes services sequentially and maybe even with some w

[2019-12-07 00:27] afnanenayet commented on #49
We ran into this today as well at my company. I believe that in GKE the health check from the deployment propagates to the google cloud ELB, so you don't even need to set annotations if you want parity between the external load balancer and your internal kube service.

[2019-12-11 11:53] selslack commented on #36
/remove-lifecycle stale

[2019-12-11 22:55] mrf commented on #55
/remove-lifecycle stale

[2019-12-12 19:08] hoboken515 commented on #65
Ran into this while trying to create an ELB with a whitelist only open to a 3rd party.  Our intention was to make the whitelisted security-group a terraform managed resource used by multiple load balancers.
[code]

[2019-12-12 19:14] hoboken515 opened #67 "Deleting LoadBalancer also deletes Security Groups specified in extra-security-group annotation"
**What happened**:
Security group referenced in `extra-security-groups` annotation gets deleted when k8s LoadBalancer is deleted.

**What you expected to happen**:
Extra Security Group should not be deleted. This security group was managed by terraform, and is useful for multiple purposes.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create an nginx-ingress load balancer w

[2019-12-17 01:23] #46 closed

[2019-12-19 07:15] #44 closed

[2019-12-21 08:16] selslack commented on #42
/remove-lifecycle stale

[2019-12-21 08:18] selslack commented on #51
/remove-lifecycle stale

[2019-12-24 07:14] #47 closed

[2020-01-07 18:30] bartelsb commented on #39
/close

[2020-01-07 18:30] #39 closed

[2020-01-07 21:19] 2rs2ts commented on #49
/remove-lifecycle rotten

[2020-01-08 15:56] particledecay commented on #42
How fitting that @selslack comments that this repo is kinda dead, and the next comment is the bot adding a stale label lol...

Is there any status on this? I've had the same trouble as @darwin67 with getting the external cloud provider working on k8s 1.17, since in-tree is deprecated now. The Azure and OpenStack cloud provider repos actually have documentation on getting those working, but nothing

[2020-01-09 13:38] #27 closed

[2020-01-09 17:00] mattlqx opened #72 "Kubelet w/ external cloud provider needs run with explicit provider id"
**What happened**:

Following the readme to switch to this external cloud provider, it's either not mentioned or I'm misconfigured, nodes do not auto-detect their ProviderID which leads the aws-cloud-controller-manager to not be able to find the instance in AWS. When I manually add the `--provider-id` flag to kubelet in the proper `aws://$az/$instanceid` format, the aws-cloud-controller-manager is

[2020-01-09 19:30] flickerfly opened #73 "Document use of custom endpoints"
**What would you like to be added**:
Documentation regarding the use of AWS Custom/VPC Endpoints for services like EC2.

**Why is this needed**:
I am deploying in an airgapped region of AWS and need to be able to access the custom endpoints as the traditional ones are unavailable to me. I can't seem to find documentation on how to accomplish this.

/kind feature

[2020-01-10 19:45] brookssw commented on #42
would love to see action/support, or at least a definitive response from those that manage this repo. I was able to get the cloud controller and ebs driver working after hammering my head against it for a while, and building the cloud controller image myself, but it was far from pleasant, and the lack of support/responsiveness leads me to fear for future support of this config. Is Amazon abandonin

[2020-01-13 20:17] nckturner commented on #42
This repository is the right location for the external cloud controller manager, and I'll be spending much more time investing in it this year.  At some point, likely this year, we will migrate the source for the AWS cloud provider from upstream to this repo.  At that point, development will shift from upstream to here.  For now, we are importing the upstream cloud provider and relying on bug fixe

[2020-01-17 05:51] bassco commented on #58
Anyone able to read through this and provide feedback?

[2020-01-17 21:39] JnMik commented on #48
I would need this too.
To make sure my load balancer is always using the same ip, even if I destroy / respawn it. so I don't have to always edit a CNAME to point to another generated lb aws dns name

[2020-01-18 04:06] sergey-safarov commented on #48
/remove-lifecycle stale

[2020-01-19 17:34] #52 closed

[2020-01-28 19:46] Erouan50 commented on #72
@mattlqx I kinda run into the same issue and it took me ages to figure out my AWS tag on my nodes was wrong. The node has to have a tag that looks like to `kubernetes.io/cluster/<cluster_id>: whatever` or the instance is not included. The `cluster_id` should be the name fo your cluster.

The cloud controller checks if the returned instance is a correct member there: https://github.com/kubernetes/l

[2020-01-29 15:01] krish7919 commented on #51
Is there an update on this?

[2020-01-30 13:43] yevhen-kalyna commented on #65
Just use additional to your current annotations this one:
[code]
And you will get rules dedicated to your IPs.

[2020-01-30 15:25] ivan-sukhomlyn commented on #65
@yevhen-kalyna Thanks for your suggestion.
I already did it.
But this bug is still present.
The provider creates redundant resources and rewrites a defined one in the cloud instead of using the provided security group in case when I want to configure access to LB exactly via SecurityGroup (by another SG definition in inbound/outbound rules) instead of IP ranges.

[2020-01-30 21:10] adamrbennett commented on #36
I'm also facing this. Moreover, I'm getting duplicate rules -- one set of rules for `0.0.0.0/0` and another identical set for my VPC CIDR.

What can I do to help troubleshoot?

[2020-02-02 12:58] #53 closed

[2020-02-04 21:12] bfmiv commented on #48
This is supported in k8s 1.16.0+ via the [`service.beta.kubernetes.io/aws-load-balancer-eip-allocations`](https://github.com/kubernetes/kubernetes/blob/v1.16.0/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L208-L211) annotation:

[code]

[2020-02-06 13:31] #54 closed

[2020-02-07 09:20] kapilt commented on #73
I was curious so went spelunking, from the golang sdk docs https://docs.aws.amazon.com/sdk-for-go/api/aws/endpoints/ it looks like need explicit support in code, which the aws provider does have
https://github.com/kubernetes/legacy-cloud-providers/blob/master/aws/aws.go#L656

and its configured in the config file
https://github.com/kubernetes/legacy-cloud-providers/blob/master/aws/aws.go#L595

[2020-02-10 18:09] #57 closed

[2020-02-11 18:23] zimmertr commented on #48
I'm confused, so you can specify an Elastic IP to associate with the service but not an existing Load Balancer's ARN? How does this solve the problem of reusing an existing Load Balancer?

[2020-02-14 08:03] schlitzered commented on #63
any news here, on an official solution?

[2020-02-14 15:45] flickerfly commented on #73
@kapilt Yep, it works, but finding out how to do it was a multi-day exploration for me so I'm recommending this get documented.

[2020-02-20 19:59] mattlqx commented on #72
@Erouan50 Thanks. Yeah, that is a requirement also and something I have configured with the legacy tag name `KubernetesCluster`. https://github.com/kubernetes/legacy-cloud-providers/blob/2dec4f8f5a22cc425713b33496c5fc5892dd4573/aws/tags.go#L41

[2020-02-22 12:22] delpic commented on #64
This is no longer an issue. Closing.

[2020-02-22 12:22] #64 closed

[2020-02-27 11:43] ivan-sukhomlyn commented on #65
The fix has been prepared and merged into Kubernetes **master** branch https://github.com/kubernetes/kubernetes/pull/83446
It will be released with the **1.18 Kubernetes version**

[2020-02-27 11:43] #65 closed

[2020-02-28 08:52] wyyxd2017 opened #77 "fix the invalid links"
#76
I found their have many invaild url in this repository！Some paths have been deleted, they no longer exist, and some are no longer valid.

ex: https://git.k8s.io/community/contributors/devel/testing.md

[2020-03-02 22:06] saiteja313 opened #78 "aws-load-balancer-security-groups annotation is updating neighbour VPC SG if its in same AWS account"
**What happened**:
While creating service with LoadBalance type, when a Security group from different VPC (non VPC of Kubernetes Cluster deployed, same AWS account) is referenced.  Security Group update is done successfully without checking its VPC and is left behind by failling ELB creation.

Error:

    Warning  CreatingLoadBalancerFailed  39s  service-controller  Error creating load balancer (w

[2020-03-08 02:26] #60 closed

[2020-03-13 09:30] deshui123 opened #79 "Does cloud-provider-aws support dual stack?"
**What happened**:
At present, kubernetes 1.17 and cloud-provider-openstack can support dual-stack.
When tested cloud-provider-aws with dual-stack and version 1.17, I cann't get dual-stack node address

Does cloud-provider-aws support dual-stack? If yes, where can I get the official docker image?
**What you expected to happen**:
cloud-provider-aws with dual-stack can work well, can get node's IPv4

[2020-03-13 18:39] saiteja313 opened #80 "EKS 1.15 - NLB TLS termination is failing when multiple ACM certificate ARN's are used"
**What happened**:
EKS 1.15 - NLB TLS termination is not supporting multiple ACM certificateARN's

**What you expected to happen**:
When a service with NLB annotation is deployed, kube-controller-manager (AWS Cloud provider integration) should create/update Network Load Balancer listener with all the certificates listed as part of annotation "service.beta.kubernetes.io/aws-load-balancer-ssl-cert".

[2020-03-17 01:23] aaronmell opened #81 "load-balancer-source-ranges should support managing multiple SG's"
K8's only handles managing a single security group.

Some people require a larger number of security group rules, than what would fit on a single security group for a node. K8's should scale out to using every SG tagged as an owned.shared security group for rules, and only fail when it exceeds the total number of SG's for all groups.

/kind feature

[2020-03-31 15:04] SaltedEggIndomee opened #86 "Where is the latest documentation for this?"
I've been trying for weeks to set up a vanilla Kubernetes cluster on AWS and still unable to pinpoint an official and latest tutorial to use this plugin.

Every guide on the internet uses `--cloud-provider=aws` flag, which we know will be deprecated very soon.

Also, on the half-baked instructions in this GitHub README, it says :

But when you look at Kubernetes official documentation at https://k

[2020-04-02 15:05] LHCGreg opened #87 "NLB services with "externalTrafficPolicy: Local" route traffic to nodes that cannot handle it for a short time when a node joins the cluster"
**What happened**: In our EKS cluster we have an nginx ingress as an NLB service with externalTrafficPolicy set to Local. It uses an NLB instead of ELB/ALB because it is part of an API Gateway VPC Link, which can only use an NLB.

We are seeing the following behavior: When a new node (even one that does not/cannot run nginx) joins the kubernetes cluster, sometimes (maybe only when the new node is

[2020-04-03 21:51] LHCGreg commented on #87
Also, switching the service to `externalTrafficPolicy: Cluster` did not remove the HTTP health check on the NLB. Health check failed on all nodes after the switch. I had to delete and recreate the service to get the NLB recreated to fix it.

[2020-04-06 21:59] dwightbiddle-ef commented on #80
We are running into this issue also  and are currently running an ELB per cert (not ideal!). Wondering if OP figured out an alternative way to do this or if anyone has any suggestions?

[2020-04-06 23:16] bordeuax commented on #49
/remove-lifecycle stale

[2020-04-07 06:42] mikejoh commented on #86
Not that it's related to `cloud-provider-aws` documentation but to your observation regarding the docs and how and when the `--cloud-provider` flag should be not used/used: https://github.com/kubernetes/website/issues/20137

[2020-04-07 19:47] jmturwy commented on #48
In AWS once a NLB is created you cannot change the subnets or assign an EIP. This is an aws limitation not k8

[2020-04-13 14:08] ncdc commented on #42
@nckturner 👋! I'm wondering if you have any more updates since your last comment a few months ago? Thanks!

/remove-lifecycle stale

[2020-04-14 10:22] T00mm opened #88 "AWS NLB Deletion Protection"
**What would you like to be added:**

An annotation in the format of

service.beta.kubernetes.io/aws-load-balancer-deletion-protection: [true|false]

that will set the Deletion Protection of the ELB to True or False. (Default is False)

**Why is this needed:**

To protect the loadbalancer from accidental deletion by external sources.

/kind feature

[2020-04-15 08:03] krish7919 commented on #51
Is there an update on this?

[2020-04-17 07:27] andreamaruccia commented on #80
we have the same issue

[2020-04-21 13:21] ari-becker commented on #58
/reopen

Not sure why this was allowed to close - this is a must-have feature for large clusters where the number of nodes in the cluster reaches the quota for the number of targets permitted per load balancer. Scaling further requires limiting the load balancer's targets to a specific subset of servers, and configuring the deployment/statefulset to only schedule on those nodes. Currently the only

[2020-04-21 15:11] ari-becker commented on #58
@bassco as the author, do you mind re-opening?

[2020-04-21 15:22] Eddman opened #89 "Publish versioned Docker images"
**What would you like to be added**:
Currently I'm not able to find any official Docker image. We need a versioned Docker images published.

**Why is this needed**:
1) First of all the `aws-cloud-controller-manager` is supposed to run as Pod in a cluster. So Docker image is the ideal/expected format.
2) Right now there are some unofficial published images, but nobody wants to run any unofficial im

[2020-04-21 15:24] chrisob commented on #89
:+1:, I was also unable to find an image for this in the past, and just gave up after looking :eyes:

[2020-04-22 16:10] ari-becker commented on #58
An additional gotcha that popped up for me:

Let's say that you have 450 nodes and a service that you'd like to expose with an external load balancer.
If you expose a single port on the service - a load balancer is created that targets all 450 servers, and it works.
If you expose multiple additional ports - despite the number of servers not changing, each additional port is considered a whole new

[2020-04-22 22:46] sskmail14 commented on #48
@bfmiv
Sounds good.

What is the External IP assigned for the service?
If so how did you point in R53 just as a IPv4 address?

[2020-04-23 06:59] StrongMonkey commented on #42
Same here looking for clear documentation. Does anyone figure how to deploy this into a kubernete daemonset as instructed in https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/#examples?

[2020-04-23 10:48] sergey-safarov commented on #48
Will be used IP associated with this allocations
[code]

You can resolve IP address using AWS API from IP allocation.

[2020-04-23 15:33] jicowan opened #90 "Override automatic creation of security group rules for the NLB"
**What would you like to be added**:
Overrride the creation of an AWS security group rule, e.g. allow 0.0.0.0/0 inbound to the service node port, with a rule that allows you to specify a range of node ports or create an annotation that effectively disables the automatic creation of a security group rule.
**Why is this needed**:
There are hard limits as to the number of SG rules you can create per

[2020-04-23 15:33] jicowan commented on #90
https://github.com/kubernetes/legacy-cloud-providers/blob/master/aws/aws.go#L3726-L3744

[2020-04-23 15:42] jicowan commented on #90
https://github.com/kubernetes/legacy-cloud-providers/blob/6d365217b9361d728bd8622417919f94689635a0/aws/aws.go#L3726-L3744

[2020-04-29 12:17] jaffcheng opened #91 "Allow to enable partial feature"
**What would you like to be added**:
Config options to enable/disable handling of k8s resources
**Why is this needed**:
Adding these config options allows users to choose what k8s resources should be handled by AWS.

/kind feature

[2020-04-30 13:14] selslack commented on #36
/remove-lifecycle stale

[2020-04-30 22:04] andrewsykim commented on #72
I ran into this issue as well but only when the instance was not tagged with `KubernetesCluster`. @mattlqx was this the case for you even when the instance had the cluster tag?

[2020-04-30 22:05] andrewsykim commented on #55
/remove-lifecycle rotten

[2020-04-30 22:06] andrewsykim commented on #91
@jaffcheng can you expand on this a bit more please? Which k8s resources do you need enabled/disabled and why?

[2020-04-30 22:16] mattlqx commented on #72
Yeah, instances were tagged with KubernetesCluster from before running the in-tree cloud-controller-manager. Didn't make a change there.

[2020-05-01 15:30] andrewsykim commented on #72
@mattlqx I think one of the other requirements is that your Kubernetes node name matches the private DNS name of the instance.

[2020-05-01 15:35] mattlqx commented on #72
That they do. Which is another unfortunate pain point, but they're all named as `ip-172-30-12-164.us-west-2.compute.internal`, etc.

[2020-05-01 15:55] andrewsykim commented on #72
I agree, I opened an issue for that problem here https://github.com/kubernetes/cloud-provider-aws/issues/63.

fwiw the log line:
[code]
is expected when the provider ID isn't set. The fallback call to `findInstanceByNodeName` should still pass in this case though. So the node never gets registered until you pass `--provider-id` to kubelet?

[2020-05-01 16:04] mattlqx commented on #72
That seemed to be the case. Everything worked for me after just specifying the provider id and I haven't messed with it since because it's working.

[2020-05-01 16:31] nckturner commented on #72
/assign @andrewsykim

[2020-05-01 16:33] nckturner commented on #91
/label priority/awaiting-more-evidence

[2020-05-01 16:33] andrewsykim commented on #91
/priority awaiting-more-evidence

[2020-05-01 16:40] randomvariable commented on #55
Discussion from cloud provider 2020/05/01:
Potentially have a new v2 API, but weary of a breaking change as would need to support the old and new API

/priority important-longterm

[2020-05-01 16:41] nckturner commented on #36
/assign

[2020-05-01 16:41] justinsb commented on #55
There's also some related issues in k/k.  A good entrypoint is  https://github.com/kubernetes/kubernetes/issues/69293 , an AWS specific issue is https://github.com/kubernetes/kubernetes/issues/29789

[2020-05-01 16:42] randomvariable commented on #36
/priority important-soon

[2020-05-01 16:47] randomvariable commented on #90
@justinsb says: "Could potentially merge adjacent ports into a port range, but may have weird failure semantics (deleting a port in the middle of a range)"

[2020-05-01 16:47] nckturner commented on #90
Do we want to solve this in the AWS cloud provider?

[2020-05-01 16:48] randomvariable commented on #90
@jicowan could you describe your use case a bit more please?

/priority awaiting-more-evidence

[2020-05-01 16:50] randomvariable commented on #48
comment from @andrewsykim : kube-proxy will inject rules to take traffic for anything with "LoadBalancerIP" and will be routed internally.
Question as to whether this is intended behaviour, because of things like TLS termination or routing.

[2020-05-01 16:52] nckturner commented on #48
/assign

[2020-05-01 16:55] nckturner commented on #48
@sergey-safarov does the annotation mentioned above fit your use case?  Should we close this issue?

[2020-05-01 17:00] nckturner commented on #42
Hey, thanks for your interest!  We are working on investing in documentation and publishing container images, but we're always looking for help!  If your interested in contributing please let us (myself, @andrewsykim and @justinsb) know as we build out the documention!

[2020-05-01 17:01] andrewsykim commented on #42
/assign

[2020-05-01 17:08] andrewsykim commented on #91
fwiw, the kube-controller-manager and cloud-controller-manager has a `--controllers` flag where you can toggle certain controllers that operate against those resources.

[2020-05-01 19:15] andrewsykim commented on #42
@darwin67 regarding sample manifests, we added some in https://github.com/kubernetes/cloud-provider-aws/pull/93. Until we have a public image repo you have to build the image yourself though.

[2020-05-01 19:15] andrewsykim commented on #89
/assign @nckturner

[2020-05-01 19:29] darwin67 commented on #42
@andrewsykim thanks for the update. great to see you joining as the owner and hope that this project will be getting more updates.
I'm no longer at the company when I filed this request so I don't really have the k8s clusters to provide feedbacks anymore, but happy to keep the issue opened until request is resolved.

[2020-05-01 20:10] andrewsykim commented on #86
/assign

[2020-05-02 09:28] sergey-safarov commented on #48
Hi Nicholas @nckturner
Now I not able to verify this feature.
I will do it when start work with EKS again. So for now I close issue.

Thank you very much Nicholas

[2020-05-02 09:28] #48 closed

[2020-05-04 12:06] jicowan commented on #90
Ideally, I want the option to disable the automatic creation of SG rules or provide an array of existing rules to apply to the worker nodes. If I have lots of NLB services, I will eventually hit the limit for SG rules. To minimize the numbers of rules, forego creating a rule when it overlaps with an existing rule.

[2020-05-06 07:20] jaffcheng commented on #91
Hi @andrewsykim , thanks for the info. In our case we have a self-managed k8s cluster on AWS and we are trying to enable NLB based service but leave other resources disabled. I'll try `--controllers`.

[2020-05-06 16:15] randomvariable commented on #90
/remove-priority awaiting-more-evidence
/priority important/long-term

[2020-05-06 16:15] randomvariable commented on #90
/priority important-longterm

[2020-05-06 19:04] foobarfran commented on #58
This would be super useful.
I can contribute with a pull request for this feature if it helps

[2020-05-06 19:16] bassco commented on #58
That would be fantastic if you could, @foobarfran

[2020-05-06 21:27] zimmertr commented on #86
Hi, I would also be interested in this. I'm trying to put together a Kubeadm-based cluster on AWS at the moment and struggling to get the Cloud Provider integration to advance beyond my worker nodes being tainted with `node.cloudprovider.kubernetes.io/uninitialized`

[2020-05-08 05:40] leakingtapan commented on #58
/remove-lifecycle rotten

[2020-05-08 20:53] foobarfran commented on #58
/assign @foobarfran

[2020-05-10 21:21] #67 closed

[2020-05-11 10:45] Sn0rt opened #99 "POD want real client ip"
/triage support

hi all

In our business scenario, POD expects to obtain the real client IP address.

what can i do ?

[code]

[2020-05-11 20:17] zimmertr commented on #86
Got this squared away thanks to the help of @andrewsykim.

I had to make a few changes. First of all, if you look in the [manifests](https://github.com/kubernetes/cloud-provider-aws/tree/master/manifests) directory on the root of the repo there is a DaemonSet and an RBAC schema. These both need to be deployed and operational on your cluster for your nodes to be _initialized_.

You'll notice that t

[2020-05-14 16:54] flickerfly commented on #73
/remove-lifecycle stale

[2020-05-18 11:23] infa-ddeore opened #101 "control ICMP rules created with LoadBalancer type service"
**What would you like to be added**:
Currently if a k8 service of type `LoadBalancer` is created without `loadBalancerSourceRanges`, it adds 2 SG rules to the loadbalancer SG, one is for the actual service port which is expected. But the other SG rule is also added that opens ICMP rule for all which comes into security team's radar.

Manually editing SG is a short fix, if the same k8 service is re

[2020-05-19 14:53] andrewsykim commented on #99
@Sn0rt setting `externalTrafficPolicy: Local` should achieve this. Ensure health checks are enabled on the load balancer though as traffic should only be routed to nodes with pods.

[2020-05-20 05:01] Sn0rt commented on #99
I got it.
Do you consider service traffic pass-through pods, do not use nodeport forwarding

[2020-05-20 14:25] andrewsykim commented on #99
Currently not supported on AWS because pod aren't routable from the ELB/NLB.

[2020-05-21 04:32] Sn0rt commented on #99
"Pod aren't routable" I didn't understand too much.

If our clusters are all using AWS VPC CNI, can we use ip-type targetgroup to achieve traffic pass-through pods?

Because I found that alb-ingress-controller is implemented like this.

[2020-05-22 16:55] olfway commented on #63
/remove-lifecycle stale

[2020-05-22 17:42] andrewsykim commented on #86
Looking for feedback on what the documentation site should look like https://github.com/kubernetes/cloud-provider-aws/pull/102

[2020-05-22 17:43] andrewsykim commented on #42
Looking for some feedback on what the documentation for this project should look like, please comment https://github.com/kubernetes/cloud-provider-aws/pull/102 if you have thoughts/opinions.

[2020-05-28 05:10] sargun commented on #42
Is there any plan to hoist the legacy code from https://github.com/kubernetes/legacy-cloud-providers, and into this repo, so that the code can be edited in a central place? Alternatively, would you be unhappy if someone else did that @andrewsykim? I realize it's "ugly", but it seems like it'd unblock some contributions?

[2020-05-28 14:49] andrewsykim commented on #42
I may have missed some context here. So currently the "central place" is in https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/legacy-cloud-providers/aws. That is consumed by the in-tree provider and eventually here via k8s.io/legacy-cloud-providers. This ensures we only have to maintain 1 provider at the moment. In the near future we will cut the tie to legacy-cloud-providers

[2020-05-28 18:00] sargun commented on #42
@andrewsykim correct. The fact that any functionality change has to be made in that repo, and then this repo has to be updated is messy. It also makes maintaining our own patchset more difficult, as that other repo has a bunch of unrelated stuff.

IMHO, it would be easier to declare bankruptcy on that existing repo and say it's EOL, and have people move to binaries from this repo -- And hoist the

[2020-05-28 18:20] andrewsykim commented on #42
We need to be careful about breaking existing behavior. If we branch off we could lose bug fixes or accidentally break compatiblity for users migrating from in-tree to out-of-tree.

I would be in favor of just starting a v2 provider on a clean slate and redesign it from the ground up. It would only be supported for new clusters. We can take the good parts of the existing provider and replace the b

[2020-05-28 21:27] sargun commented on #42
I would much rather see an incremental approach to a v2. We have immediate interests in features such as being able to make the node name the i-, or adding EC2 healthcheck info into the node conditions we're not wanting to scorch the earth over.

I can put together a PR proposal, if you want. As far as I know this project has no official releases as of yet. We could do this, and release a 0.0.1alp

[2020-05-30 01:25] lovebaby979 commented on #77
file structure change,documents is old, please check

[2020-05-30 16:07] andrewsykim commented on #42
This is totally fair, but many of the common feature requests from users like the node name change is very difficult to change without breaking existing clusters. The migration semantics get complicated very quickly. Starting on a clean slate here could possibly be _less_ work overall.

Sure, I would be open to this and we can continue discussions there. Worth noting that we will likely cut an alp

[2020-06-06 17:33] raelga commented on #88
In case anyone is interested, I had the same issue and ended developing a new operator to enable/disable the termination protection using annotations in the service object. Is in the early stages, but it works and is quite inoffensive.

https://github.com/3scale/aws-nlb-helper-operator

[2020-06-08 20:29] foobarfran commented on #58
The feature for this issue is already merged in https://github.com/kubernetes/kubernetes/pull/90943

/close

[2020-06-08 20:40] leakingtapan commented on #58
/close as the PR is merged in legacy provider

[2020-06-12 10:40] suauk opened #108 "NLB use private static IP address"
Network Load Balancers can have static private IPs assigned to them using subnet mappings. In 1.16 the allocation of EIPs to LoadBalancer service types was made available, this is to enable the allocation of private IP addresses.

[2020-06-13 17:25] TBBle commented on #42
Would it make sense to slurp-over the existing code from https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/legacy-cloud-providers/aws, and keep a v1 branch from which changes made here are then replicated over to there until such time as "there" is removed? That would allow migrating discussion and feature development for the AWS cloud-provider here, since [https://github.com

[2020-06-15 02:49] TBBle commented on #72
Just a note in-passing, the ProviderID used on EKS nodes is `aws:///$az/$instanceid`, i.e. one more slash than `aws://$az/$instanceid` in the issue report.

I expect that's not relevant, as it might just have been a typo, and I'm also assuming pretty heavily that EKS isn't using a different codebase to this cloud-proder. I thought I'd mention it in case that flags a relevant investigation directio

[2020-06-15 03:15] TBBle commented on #89
From https://github.com/kubernetes/cloud-provider-aws/issues/42#issuecomment-636351528

[2020-06-15 13:46] andrewsykim commented on #89
We have a published GCR registry now, see https://github.com/kubernetes/cloud-provider-aws/pull/107

/close

[2020-06-15 13:46] #89 closed

[2020-06-15 13:49] andrewsykim commented on #42
My thinking here is: v1 (current implementation) is both in-tree / out-of-tree with almost identical behavior. v2 can be a complete rewrite from scratch where we take the good from v1 and redo the bad.

[2020-06-15 13:49] andrewsykim commented on #42
FYI folks, we cut the first alpha release https://github.com/kubernetes/cloud-provider-aws/releases/tag/v1.18.0-alpha.0

Please try it out and provide feedback :)

[2020-06-16 16:23] Deshke opened #109 "NLB instance Security groups are ignored"
**What happened**:
maybe more a documentation issue.

The annotation for `service.beta.kubernetes.io/aws-load-balancer-security-groups` is being ignored and security rules are being created in the "main" node security group that is responsible for nodes.

**What you expected to happen**:

the specified security group is used

**How to reproduce it (as minimally and precisely as possible)**:

1) cr

[2020-06-19 15:11] steerben commented on #49
I think that is indeed a very valuable feature.

Considering subsequent use case:

HTTPS (ELB - ACM SSL termination) -> HTTPS (Worker Self signed SSL termination)

In that case the healthcheck also turns into HTTPS. However most health check endpoints run on separate ports and do not support SSL termination like e.g. the one of the istio ingress gateway which renders the mentioned use case not fea

[2020-06-23 05:09] TBBle commented on #87
Per [Source IP for Services with Type=LoadBalancer](https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-type-loadbalancer), the HTTP health check used for `externalTrafficPolicy: Local` (on `healthCheckNodePort`) should not be being routed to other nodes (this is not AWS-specific, but is part of kube-proxy), but perhaps the health-check is mis-setup and is seeing t

[2020-06-23 05:45] TBBle opened #110 "Node Labelling from AWS Tags"
**What would you like to be added**:

I'd like the AWS Cloud Provider to be able to apply labels from Instance tags (probably inherited from ASG or Launch Template) to the Node at creation time.

**Why is this needed**:

Since k8s 1.16, kubelet is not allowed to set node labels (with specific exceptions) in *.kubernetes.io namespace. A specific instance of this are the [role labels](https://github

[2020-06-23 10:37] f-ld commented on #87
I have a similar issue.
In short:
- a pool of "nodes" (default ones, where most services will run) where nginx is running
- a pool of "myservice-nodes" where I have my service that is up/downscaling a lot (from 10 to 150 instances every day).

After being in touch with AWS support, I got confirmation that every time a new node is added, before healthcheck can test it and mark it unhealthy, it is c

[2020-06-23 16:36] michaelajr commented on #55
Even a name `prefix` via annotation would be a good first step. And since the naming Go code adds the Service UUID and then truncs to 32 chars, we would not run into any length restrictions.

[2020-06-24 05:43] TBBle commented on #87
We just replicated the problem where switching from `externalTrafficPolicy: Local` to `externalTrafficPolicy: Cluster` leaves the Targetgroups in a bad state, on EKS.

[code]

The Service is actually reporting the failure:
[code]

So the bug is that we can't change a health check protocol for a target group, and must delete and recreate them.

To fix it, I had to delete the NLB and the Target Grou

[2020-06-24 06:37] TBBle commented on #42
Another relevant question: Where should AWS Cloud Provider issues be lodged? The code lives in https://github.com/kubernetes/kubernetes/ but the code-ownership and future publishing vests here (I guess?). I'm noticing bug reports in both trackers, and sometimes for the same issue.

[2020-06-25 04:50] sargun commented on #42
@andrewsykim See here: https://github.com/kubernetes/cloud-provider-aws/pull/111

I still do not think "starting from scratch" is a great idea....

[2020-06-27 16:59] TBBle commented on #101
Are you referring to the [Path MTU Discovery (Type 3, Code 4)](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/network_mtu.html#path_mtu_discovery) rule? That's pretty important for the good functioning of the network, and isn't really a security risk.

[2020-06-27 17:24] infa-ddeore commented on #101
I am talking about this rule, is this not a security issue allowing for 0.0.0.0/0 ?

![image](https://user-images.githubusercontent.com/39782583/85928233-0d578c00-b8c9-11ea-9055-e875b08a593a.png)

I will read through the links you provided.

[2020-06-28 06:19] TBBle commented on #101
That's right, that's not a security issue, it's needed for your traffic to actually flow correctly and with good performance, as that message is sent to you by intermediate routers when you are sending too-large packets, that will otherwise be dropped.

There's a useful diagram of what happens if you block that message under ["ICMP MESSAGES BEING BLOCKED"](https://www.fir3net.com/Networking/Protoc

[2020-06-28 11:23] infa-ddeore commented on #101
I am trying to understand in what case the problem would occur.

If client is accessing a service over ELB and ELB is responding with higher MSS then intermediate routers will send ICMP response to ELB?

`loadBalancerSourceRanges` are applied to TCP as well as ICMP rule, so there needs to be separate annotation for ICMP since you recommend it to keep open regardless of other ports' restriction.

[2020-06-29 02:35] TBBle commented on #101
You've identified the problem, yes. I'm not sure if there's some magic in the Security Group that recognises an ICMP type 3 packet as being sent on behalf of an allowed source address, i.e. parsing the type 3 header which includes the data about the packet being responded to. I could easily believe such magic exists, because this'd be pretty easy to get wrong if you're blindly applying IP restrict

[2020-06-30 09:46] dza89 commented on #109
I think it should be

`service.beta.kubernetes.io/aws-load-balancer-extra-security-groups`

https://kubernetes.io/docs/concepts/services-networking/service/#internal-load-balancer

[2020-06-30 09:58] dza89 commented on #109
That annotation is meant for ELB and ALB, where the loadbalancer uses a security group.
The NLB doesn't have a security group, and only arranges security group rules.

[2020-06-30 10:03] Deshke commented on #109
but it uses the "master" node security group attached, and not the security group i define

[2020-06-30 11:08] dza89 commented on #109
Yes, because the annotation you are using is meant for ELB and ALB, not NLB.
The ELB and ALB have the possiblity to attach an SG to themselves, the NLB does not.

I agree that the implementation is not good.
You can however change security group. Attach the selected security group to the nodes yourself and apply the following tag: (make sure this tag is not available on other SGs)
kubernetes.io/cl

[2020-06-30 17:23] Deshke commented on #109
is this documented anywhere ?

[2020-07-01 20:10] andrewsykim commented on #42
Starting a v2 provider from scratch wouldn't mean we abandon the existing one. There are some feature requests for the legacy provider, like the node and ELB name change, that are just too difficult to implement without breaking existing clusters. We can maintain both providers for the forseeable future.

[2020-07-02 19:46] infa-sathkuma commented on #101
I am also looking for the scenario where the PMTU to work with the ELB . AWS security group has a specific rule for ICMP type 3 DF set .
MSS is a negotiated value. We can see that exchange in wireshark capture. The upper bound of the advertised TCP MSS is most likely the MTU of the first hop route. Now what makes the MTU higher ? the biggest payload element is TCP MSS, which would have been sent o

[2020-07-03 09:43] TBBle commented on #101
[MSS isn't negotiated](https://networkengineering.stackexchange.com/a/33575), it's simply announced by each end as to what their receive-size MSS, for segments going to that end. It defaults to 'MTU - 20 (IP Header minimum size) - 20 (TCP header minimum size)'.

However, MSS is only _ideally_ set to be small-enough to fit in a single packet, and PMTUD has [historically interefered with this as muc

[2020-07-20 03:45] bassco commented on #58
@foobarfran  - legend!
Feature will be released in v1.19, for those that reach this comment and don't follow the MR

[2020-07-20 03:45] #58 closed

[2020-07-21 07:43] HoJinKind opened #113 "Adding tag annotations on service manifest for NLB does not trigger update on AWS"
BUG REPORT:
/kind bug

What happened:
Adding this annotation to an existing service: {"metadata":{"annotations":{"service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags":"team=devops,env=qa"}}} did not trigger an update on AWS ELB (no new tags) if it is a NLB.

What you expected to happen:
Expected to see those 2 new tags under the existing ELB: team=devops,env=qa

How to reproduce

[2020-07-24 02:00] #77 closed

[2020-07-24 02:08] nckturner commented on #42
@TBBle I think either works, maybe using this repo would make them easier to find and fit better with future goals for the project, but I doubt we will be able to prevent others from filing issues at k/k, so we'll have to be cognizant of both.

@sargun I appreciate your dilemma.  I'm open to all options, but we really do have to be careful about breaking existing users.  That being said we need a

[2020-07-29 00:09] saiteja313 commented on #80
/remove-lifecycle stale

[2020-07-29 12:42] TBBle opened #119 "A Helm chart for deployment"
**What would you like to be added**:

A Helm chart for deployment. Based on a few other AWS projects, it probably makes sense to generate the example manifest from the Helm chart too, to support a single-source-of-truth.

**Why is this needed**:

Managing things by raw manifest doesn't give you version tracking, rollback, configurability, or any of the other nice features that Helm provides. Parti

[2020-07-30 17:54] thecrazyrussian opened #120 "Rules for adding targets"
**What happened**:
Added a k3s cluster in EC2 and specified the was provider. Added a LoadBalancer type service and a Load Balancer was deployed.

**What you expected to happen**:
I also expected the node to be added to the target list.

**How to reproduce it (as minimally and precisely as possible)**:
https://github.com/rancher/k3s/issues/2083

**Anything else we need to know?**:
Any docs or poin

[2020-07-31 19:18] selslack commented on #36
/remove-lifecycle stale

[2020-08-05 06:40] nckturner opened #121 "Add docs setup section with Kops"
**What would you like to be added**:
A section of docs with setup steps for kops.

**Why is this needed**:
We need instructions on setting up a cluster with the external cloud provider enabled.

[2020-08-06 15:25] jaffcheng commented on #91
The above parameter works, Thanks!

[2020-08-06 15:25] jaffcheng commented on #91
/close

[2020-08-06 15:26] #91 closed

[2020-08-06 22:40] #78 closed

[2020-08-07 05:02] thecrazyrussian commented on #120
I was able to fix by setting the ProviderID properly on the node.
https://github.com/rancher/k3s/issues/2083#issuecomment-670321686

[2020-08-07 05:02] #120 closed

[2020-08-10 11:03] #79 closed

[2020-08-13 12:23] flickerfly commented on #73
/remove-lifecycle stale

[2020-08-14 03:29] #81 closed

[2020-08-19 22:09] ben-turner commented on #55
If this change is made, the ability to name target groups would also be great. Also, documentation on how the names are generated by default. From what I can tell, the names are always the same, which is a problem when running multiple clusters.

My use case is that something broke on AWS's end and there's a broken target group stuck in my account. I need to change the name so that I can create a

[2020-08-25 13:29] TiagoJMartins commented on #36
I'm also being affected by this as the NLB needs to be recreated for the changes to take effect.

[2020-09-01 15:05] damerakd commented on #113
Hello, I also faced the same issue where tags are not being updated for the service when using the annotation aws-load-balancer-additional-resource-tags if it is NLB. However they are being added to the Loadbalancer if it is CLB.

So, I looked into the code responsible for ensuring an NLB through service spec of type LoadBalancer. Firstly, method responsible for ensuring a NLB is ensureLoadbalance

[2020-09-01 15:22] damerakd commented on #113
Additionally, I was able to notice that the tags are not being removed from the LoadBalancer during update to the Service or the annotation is removed or the service is deleted for both the NLB and CLB LoadBalancers. **This one is important because eventually we reach the limit on number of tags for the load balancer and we would face new issues as a result**

==============
***** Why tags are not

[2020-09-01 15:36] damerakd opened #122 "Removing annotation service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags from Service Spec is not removing tags applied to the LoadBalancer"
**What happened**:
-- Removing annotation service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags from Service Spec is not removing tags applied to the AWS LoadBalancer for both NLB and CLB

**What you expected to happen**:
-- Tags to be removed from the load balancer

**How to reproduce it (as minimally and precisely as possible)**:
-- Create a service using the annotation service.b

[2020-09-01 15:37] damerakd commented on #122
#113

[2020-09-03 19:56] kireledan commented on #80
Based on the code for this section, it doesnt look like it splits this annotation to look for multiple certs. The action here would be to add support for multiple certs.

https://github.com/kubernetes/legacy-cloud-providers/blob/337bfc5066299ed54615cd27f6b3dd70c1aaf0f9/aws/aws.go#L3734

[2020-09-10 11:24] suauk commented on #108
/remove-lifecycle stale

[2020-09-10 18:25] nckturner opened #123 "Improve documentation around version compatibility with Kubernetes"
**What would you like to be added**:
Documentation explaining:
- What the version contract is between cloud-provider-aws artifacts and Kubernetes.
- Examples with specific versions, if necessary.

**Why is this needed**:
It is not clear what the contract is.

/kind documentation

[2020-09-12 03:54] kireledan commented on #80
status is I've gotten this working for multiple certificates upon creation - update logic is being worked out

[2020-09-14 13:14] krish7919 commented on #51
/reopen

[2020-09-14 13:15] krish7919 commented on #51
/remove-lifecycle rotten

[2020-09-14 19:11] fheinonen commented on #80
@kireledan  Would you mind elaborating the partial solution you came up with?

[2020-09-15 16:01] voor opened #124 "Friendly Load Balancer Names and Adopting Existing Load Balancers"
**What would you like to be added**:

Continuation of https://github.com/kubernetes/kubernetes/issues/29789 which is closed because of deprecation of in-tree providers:

**Why is this needed**:

Deletion for a Service Type of Load Balancer is a common occurrence, being able to adopt existing load balancers and give them easy to read names will greatly enhance the user experience of kubernetes on A

[2020-09-15 16:11] andrewsykim opened #125 "Tracking issue for v2 aws provider"
**What would you like to be added**:
In https://github.com/kubernetes/cloud-provider-aws/pull/114 we added the initial boilerplate code to enable a v2 AWS cloud provider. This is a tracking issue for future PRs that add to the implementation.

**Why is this needed**:
This project will continue to support the existing AWS provider in "out-of-tree" mode. However, there are many known issues and gaps

[2020-09-15 16:11] andrewsykim commented on #125
/assign

[2020-09-15 16:14] andrewsykim commented on #125
Some issues we should consider as we implement v2:
https://github.com/kubernetes/cloud-provider-aws/issues/124
https://github.com/kubernetes/cloud-provider-aws/issues/63
https://github.com/kubernetes/cloud-provider-aws/issues/55

[2020-09-15 16:45] kireledan commented on #80
So far I've just modified the creation of the ELB to use the "AddListenerCertificate" method if multiple certs are seen in the annotation.  For updating, Im going to re-create the listener on each update if a certificate is removed (since you cant delete the default). Im not sure if this is the best route since something could happen between recreation and cause issues. However, Im not sure of the

[2020-09-16 11:34] nucleusv commented on #80
I add additional certificates for NLB via init-containers for nginx-ingress controller, it is very required to add additional certificates via annotations for NLB also.

[2020-09-16 14:21] kireledan commented on #80
I've gotten a solution worked out. Writing up a PR now.

[2020-09-17 08:14] larsrnielsen commented on #36
Facing the same issue. I have also tried to force a recreation of the NLB, but no luck on SG update

[2020-09-17 20:57] M00nF1sh commented on #80
Hi @kireledan
Is the UX like if multiple certs(comma-separate list) is specified, the first one will be used as default certs while others are additional cert?

We have implemented such certificate annotation UX for our NLB-IP Service controller(same set of annotations as this in-tree NLB Service support but with IP targeting).

[2020-09-17 22:55] HaibaraAi96 commented on #125
I'd love to work on the loadbalancer implementation 😃

[2020-09-17 23:38] andrewsykim commented on #125
Sounds good @HaibaraAi96! I updated the tracking issue to break up the work here a bit and assigned the loadbalancer implementation to you. Feel free to use the legacy implementation as a reference https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/legacy-cloud-providers/aws

[2020-09-17 23:38] andrewsykim commented on #125
/assign @HaibaraAi96

[2020-09-18 06:57] bordeuax commented on #49
/remove-lifecycle stale.

[2020-09-18 22:47] kireledan commented on #80
Noting here just for Github purposes even though we already talked --

Yes, the UX is similar to V2. First cert is the default, others are additional. It is a comma-separate list.

[2020-09-21 09:19] TBBle commented on #110
/remove-lifecycle stale

[2020-09-23 05:01] LHCGreg commented on #87
/remove-lifecycle stale

[2020-09-25 07:50] throrin19 commented on #90
Any news about this demand ? I have this problem now. I have to deploy more than 100 services with specific nlb for each of them. Actually I have 10 services and it cost 46 rules. The limit is 60 per security group and I can't find any information to avoid this creation and use default security group rules

[2020-09-25 17:54] randomvariable opened #130 "Add e2e testing of cloud provider via Cluster API Clusterctl framework or Cluster API kubetest2 deployer"
**What would you like to be added**:
Add e2e conformance testing to this repo

**Why is this needed**:
Discussed a while ago about testing requirements for this repo, and had demo'd launching kubetest via Cluster API's clusterctl framework. Inclusion of conformance testing is almost complete (see https://github.com/kubernetes-sigs/cluster-api/pull/3652), and am considering adding a Cluster API dep

[2020-09-25 17:54] randomvariable commented on #130
/assign

[2020-09-30 01:00] andrewsykim opened #135 "Compile aws-cloud-controller-manager during prow CI"
**What would you like to be added**:
Our current prow CI is very limited in that it only runs unit tests and a few linters, we should also compile aws-cloud-controller-manager.

**Why is this needed**:
To catch any compile errors that may not be caught in unit tests.

/kind feature

[2020-09-30 10:51] randomvariable opened #137 "Add request handlers to v2 implementation"
**What would you like to be added**:
Follow up from #131, add AWS request handlers to do the following:

* Add metrics
* Add rate limiting

@M00nF1sh , do you think it's worth re-implementing what's done in inhttps://github.com/aws/aws-app-mesh-controller-for-k8s/tree/master/pkg/aws for the above?

FWIW, I used the same metric formats in https://github.com/kubernetes-sigs/cluster-api-provider-aws/

[2020-09-30 19:58] M00nF1sh commented on #137
@randomvariable Thanks for reaching out. I think we can keep same format(i'm open to new metrics if applicable) :D

[2020-10-01 09:56] randomvariable commented on #137
@M00nF1sh Are we ok to copy the throttle package over to this repo and cluster-api?

[2020-10-01 10:43] randomvariable commented on #130
https://github.com/kubernetes-sigs/cluster-api/pull/3652 is upstreamed, and https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1991 will consume it, so can probably start adding similar here.

Will probably naively try spinning up Cluster API AWS cluster with external CPI, pass the kubeconfig to a new goroutine to run the CPI and then run the relevant kubetest bits.

[2020-10-01 17:18] M00nF1sh commented on #137
@randomvariable of course. but i do think the throttle package needs some enhancements.
e.g. it should use endpointID instead of serviceName when throttling. since some service's serviceName have space within it.

[2020-10-01 18:26] randomvariable commented on #137
/assign

[2020-10-02 15:50] nckturner opened #142 "Document release process"
**What would you like to be added**:
Documentation for the release process.

/kind documentation

[2020-10-03 18:13] #90 closed

[2020-10-05 18:16] M00nF1sh commented on #36
@larsrnielsen what's the k8s version used? the original issue should have already been addressed by https://github.com/kubernetes/kubernetes/pull/74692/files

[2020-10-06 04:28] JESWINKNINAN commented on #72
The same scenario had happened to me as well, In my case provider id should be passed dynamically since the worker nodes are part of an ASG. This can be achieved only after fetching the AWS metadata and dynamically passing the provider-id. Do we have plans to make aws-cloud-controller-manager make provider id automatically when a new node detected?

[2020-10-06 10:35] TBBle commented on #72
It _should_ set up the provider ID automatically, assuming the [`kubernetes.io/cluster/<cluster_id>: whatever` tag (or legacy `KubernetesCluster` tag) is present on the EC2 instance](https://github.com/kubernetes/legacy-cloud-providers/blob/bd86a2e5baa1da95e54d28d9273be7af413393d4/aws/aws.go#L4789-L4791), and [the private DNS name in EC2 matches the nodename passed to kubelet](https://github.com/k

[2020-10-06 11:08] JESWINKNINAN commented on #72
After verifying the mentioned configuration and bootstrapping a new node, I am getting the error from aws-cloud-controller manager which is same as mentioned in earlier comments.

1 aws.go:4745] Unable to convert node name "ip-value.us-west-2.compute.internal" to aws instanceID, fall back to findInstanceByNodeName: node has no providerID

[2020-10-06 11:13] JESWINKNINAN commented on #72
You are correct, Provider Id is configured by the Cloud Controller Manager. This means the nodename should match the private dns .Not sure how this is logically connected.

[2020-10-07 10:38] TBBle commented on #72
The reason the EC2 Private DNS name has to match the Node name is because that's the only thing that actually connects a given Node object to a given EC2 instance, before the Provider ID is assigned.

The AWS Cloud Provider is not currently set-up for supporting Node names different from the EC2 Private DNS name, see #63 for that feature, hopefully it will be covered early in the AWS Cloud Provide

[2020-10-07 17:14] JESWINKNINAN commented on #72
gotcha, I think this should be the required one  because in case of custom hostname.

[2020-10-07 18:38] randomvariable commented on #72
See also this discussion here https://github.com/kubernetes/cloud-provider-aws/pull/131#discussion_r500185866

Basically, we will be unable to provide any assurance around the node identity if neither instance ID or PrivateDNSName is the node name. Is that still something people will want to do?

[2020-10-07 19:05] JESWINKNINAN commented on #72
If we restrict this with nodename, definitely it will be a bottleneck or restriction. So the flexibility of having the custom nodename due to certain situations like using VPC-DNS will not be supportive.

[2020-10-08 02:39] TBBle commented on #72
It seems reasonable that if DNS is being used to provide more-custom instance host names, _and those names can be made visible to EC2_, that they would be usefully consumed as Node names.

I think that's less than support for 'arbitrary' names: per the linked discussion, it needs to be something visible to `ec2:DescribeInstances` or there's no secure way to tie the kubelet back to an EC2 instance.

[2020-10-08 02:39] nckturner commented on #137
I spoke with @jaypipes and he is going to create a repository under the aws organization to put the throttle package and anything else.  @M00nF1sh WDYT about that?

[2020-10-14 21:39] benmoss commented on #130
started on this here https://github.com/benmoss/kubetest2/tree/capi-deployer

[2020-10-14 21:51] randomvariable commented on #130
/lifecycle active

[2020-10-14 22:01] randomvariable commented on #130
Hah, I started playing around with a kubetest2 deployer, but @benmoss is already ahead in https://github.com/kubernetes-sigs/kubetest2/issues/48#issuecomment-708675720

[2020-10-16 07:49] vpharabot opened #144 "Instances get not registered in ELB after respawning all k8s nodes"
**What happened**:
- I'm configuring Kubernetes and AWS CCM as describe before, just to mention my etcd database data is on a dedicated EBS volume
- I create a k8s loadbalancer kind, CCM create ELB just fine
- All instances are referenced on ELB, and are "In Services"
- Now as a particular use case:
   - i terminate all the k8s instances
   - i set up the k8s cluster again using etcd EBS volume, s

[2020-10-18 06:52] #99 closed

[2020-10-19 06:51] bordeuax commented on #49
/remove-lifecycle rotten

[2020-10-19 19:32] andrewsykim commented on #86
/reopen
/remove-lifecycle rotten

[2020-10-19 19:32] andrewsykim commented on #86
We have a docs site here https://cloud-provider-aws.sigs.k8s.io/ but we need help with content

[2020-10-19 19:32] andrewsykim commented on #86
/help wanted

[2020-10-20 09:06] olfway commented on #63
/reopen

[2020-10-21 11:15] rfranzke commented on #125
What does this mean exactly, i.e., how will existing clusters be upgraded in the future (assuming the legacy AWS cloud provider code is being removed from k/k)?

[2020-10-27 16:37] TBBle commented on #119
/remove-lifecycle stale

[2020-10-27 22:43] kishorj commented on #49
Supports available for specifying https protocol for NLB instance mode health check via annotatoin `service.beta.kubernetes.io/aws-load-balancer-healthcheck-protocol`  https://github.com/kubernetes/kubernetes/issues/92321. Fix will be included in 1.20.

NLB IP mode also supports the annotation, and is available in the [AWS Load Balancer controller](https://github.com/kubernetes-sigs/aws-load-balan

[2020-10-30 21:10] M00nF1sh commented on #78
It's a misconfiguration, but we can do improve it by add more client-side validation.

[2020-11-13 04:16] omzmarlon opened #155 "More flexible NLB HealthCheck with HealthCheck payload"
**What would you like to be added**:
Make it configurable in a k8s service that the NLB HealthCheck can send a small HealthCheck payload to the target port or endpoint.

**Why is this needed**:
Right now the HealthCheck simply makes a TCP connection to a target port and if it can, the health check is successful.
But some applications need more than that. For example, a typical Zookeeper liveness c

[2020-11-13 04:50] #135 closed

[2020-11-17 17:13] nckturner commented on #144
@vpharabot I'm looking into this today

[2020-11-21 20:42] jkroepke commented on #119
Are maintainers interest in a contribution?

I would like provide a chart based on the template + using GH pages to provide a chart and actions to automate this workflow.

[2020-11-23 14:44] halcyondude commented on #51
Hello, we are hitting this issue as well.

[2020-11-23 14:45] halcyondude commented on #51
+1

[2020-11-25 04:55] nckturner commented on #144
Sorry, I was only just able to start on this issue.  Attempting to repro this, I created a kops cluster using the CCM, with one master node and one worker node.  The first thing I tried was terminating just the worker node via the aws console.  The worker node terminated, and was replaced by a new node, `i-086f0dca5cde26296`, and was recognized by the CCM:

[code]

And I can see its in service:

[

[2020-11-25 05:12] nckturner commented on #144
The simple case of terminating both instances at the same time also did not end up with the behavior your described, and the kops mechanism to restore etcd state is similar to the method you described in that it restores from an ebs volume.   I'm guessing there could be a timing component to this issue you are seeing, related to when CCM starts and when the node is registered.  One thing I don't u

[2020-11-25 05:39] nckturner commented on #144
By staggering the instance deletion times slightly, I thought I had reproduced the issue.  The load balancer did not have the new instance for a few minutes after the CCM started, but it eventually registered about 4.5 minutes after the CCM started:

[code]

[2020-11-25 05:42] nckturner commented on #144
Can you share the CCM logs from the new CCM, from startup to startup time + 6 or 7 minutes (without restarting it)?  Additionally the instance ids, private DNS names, and instance start times would probably be helpful.

[2020-11-25 06:37] frittentheke commented on #72
/remove-lifecycle rotten

[2020-11-26 13:16] T00mm commented on #88
/reopen

[2020-11-27 19:42] #109 closed

[2020-11-30 11:45] #101 closed

[2020-12-02 07:08] camper42 opened #158 "wrong go env in Makefile?"
https://github.com/kubernetes/cloud-provider-aws/blob/1be8de7a3cc579c8ab2619d70b0769cbfd5371da/Makefile#L48

should be `GO111MODULE` & `CGO_ENABLED`?

[2020-12-03 00:53] ayberk commented on #158
Good catch! I'll send a PR.

[2020-12-03 01:03] #158 closed

[2020-12-03 11:57] glenjamin commented on #124
Is there anything blocking such an implementation, or does this just require someone to send in a PR for the functionality?

[2020-12-03 12:14] voor commented on #124
Think it's just the contribution, given we're positioning this such that we don't need to maintain backwards compatibility

[2020-12-03 21:07] nckturner commented on #121
/remove-lifecycle rotten

[2020-12-10 18:09] nckturner commented on #123
/remove-lifecycle stale

[2020-12-20 10:29] TBBle commented on #110
/remove-lifecycle stale

[2020-12-21 03:49] #42 closed

[2020-12-23 04:36] LHCGreg commented on #87
/remove-lifecycle stale

[2021-01-10 14:50] #73 closed

[2021-01-12 13:36] randomvariable commented on #137
@jaypipes has any progress been made on creating the repo to include importable limiters?

[2021-01-12 13:36] randomvariable commented on #137
/lifecycle frozen

[2021-01-13 14:17] randomvariable commented on #130
/lifecycle frozen

Will be getting round to this next week,.

[2021-01-17 00:19] #55 closed

[2021-01-19 01:36] jfreeland commented on #80
@kireledan do you intend to pick back up on https://github.com/kubernetes/kubernetes/pull/95208?

[2021-01-19 15:31] colinhoglund commented on #87
I also noticed intermittent connection timeouts and verified traffic being sent to unready nodes with VPC flow logs. I got this same response from AWS support and they unfortunately were not able to provide any clear workarounds. :/

[2021-01-19 23:03] TBBle commented on #87
Due to this limitation in NLB Instance mode, the best available workaround is probably to migrate to [NLB IP mode](https://kubernetes-sigs.github.io/aws-load-balancer-controller/guide/service/nlb_ip_mode/), which requires the AWS LoadBalancer Controller, and Kubernetes 1.20 [or 1.18 if you're using EKS](https://github.com/aws/containers-roadmap/issues/981#issuecomment-715571153).

[2021-01-21 06:54] avielb commented on #87
I can confirm having the exact same issue as well.
@TBBle, did the upgrade and transition eks 1.18 with `nlb-ip` mode, fixed the issue for you?

[2021-01-21 10:46] luisamador commented on #113
I'm expriencing the same issue. It would be great to fix this issue. I can't update the tags on my NLB using the annotations discussed on this issue. Seems like an easy fix?

[2021-01-21 10:53] TBBle commented on #87
I haven't deployed it yet myself.

It _should_ fix the issue, because instead of AWS knowing about all your nodes and sending them traffic until they fail the first healthcheck because there's no Pod on that node, the NLB-IP mode is sending traffic to the Pod's IP, which is only added to the Service once that pod is actually ready to receive traffic.

[2021-01-21 11:06] dberuben commented on #87
I have eks 1.18 i try to use the NLB-IP with no luck.
Stuck with `  Normal  EnsuringLoadBalancer  119s  service-controller  Ensuring load balancer`

[2021-01-21 11:15] luisamador opened #168 "Annotation service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled not working on NLB"
**What happened**:
*service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"*
The annotation above doesn't take any effect on NLBs. It doesn't matter if you are updating an existing NLB or if you are provisioning it from scratch.

**What you expected to happen**:
The "Cross-zone load balancing" setting enabled on the NLB.

**How to reproduce it (as minimally and preci

[2021-01-21 11:18] TBBle commented on #87
@dberuben Have you installed the [AWS LoadBalancer Controller](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/deploy/installation/)? As far as I know, it's not deployed by default on EKS.

Not having the AWS LoadBalancer Controller installed is the only way I'd expect to see the "Ensuring load balancer" event, but no following failure event showing what went wrong.

If you h

[2021-01-21 11:20] dberuben commented on #87
@TBBle No i didn’t , let me try

[2021-01-21 11:21] TBBle commented on #87
Okay. If you're still having trouble with the AWS LoadBalancer Controller after you install it (or having problems installing it), it probably makes more sense to open an issue on https://github.com/kubernetes-sigs/aws-load-balancer-controller than to ask questions on this ticket, as that way people who are currently working on and using it will be able to help.

[2021-01-21 14:36] dberuben commented on #87
So was able to install AWS LoadBalancer Controller without any issue, i'm seeing my new `nlb-ip`, look like this when you describe the svc `k8s-nginxing...`.
I'm also seeing Pods IP in the TargetGroup.
The draining pods takes time but i think now i need to tweak my controller.

![image](https://user-images.githubusercontent.com/12519394/105365275-5e7cf380-5bfe-11eb-9089-6cce2c16cbd7.png)

[2021-01-21 15:19] avielb commented on #87
same as me, I was able to install it and configure, can confirm now that the issue is not happening when working with `nlb-ip` configured

[2021-01-29 17:17] #122 closed

[2021-01-30 22:43] nckturner opened #169 "kops-grid-scenario-aws-cloud-controller-manager failing because CSI controller is not becoming ready"
**Which jobs are failing**:
kops-grid-scenario-aws-cloud-controller-manager

**Which test(s) are failing**:
All (cluster setup is failing)

**Since when has it been failing**:
2020/1/12

**Testgrid link**:
* [Testgrid scenario link](https://k8s-testgrid.appspot.com/sig-aws-cloud-provider-aws#kops-grid-scenario-aws-cloud-controller-manager&show-stale-tests=)
* [Failing test](https://prow.k8s.io/vie

[2021-01-30 23:29] rifelpet commented on #169
https://github.com/kubernetes/test-infra/pull/20680 will provide logs from the ccm and csi controller pods which should help with troubleshooting this.

[2021-01-31 00:28] nckturner commented on #169
@rifelpet that would be helpful.  Is there any other way you'd recommmend investigating this one?  I'm going to try to figure out how to run `kubernetes_e2e.py` with similar arguments, let me know if you have advice there.

[2021-01-31 00:44] rifelpet commented on #169
You should be able to skip all of the kubernetes_e2e.py stuff and just recreate some of the commands that it shells out:

[code]

Adjusting that IP address, AZ, and the cluster domain name as appropriate.

[2021-01-31 00:49] nckturner commented on #169
Ah that's easier, will give it a try.

[2021-01-31 09:07] nckturner commented on #169
[code]

[2021-01-31 13:15] rifelpet commented on #169
Ah, kops recently changed the default settings for IMDSv2 so I'm guessing the csi driver is built with an older version of aws-sdk-go and needs updating.

[2021-01-31 18:43] olemarkus commented on #169
This happens because we set `httpPutResponseHopLimit: 1` by default also on the control plane. Prior to CSI controller, everything using instance metadata ran host networking. setting hop limit to 2 makes the controller work again (on kubenet at least).

[2021-02-01 07:08] nckturner commented on #169
Makes sense, thanks @olemarkus

[2021-02-01 16:15] jhughes2112 commented on #64
This is definitely an issue.  What happens in us-east-1* is that the availability zone is NOT part of the DNS, and the AWS Cloud Provider assumes it is.

[code]

Note the internal DNS is [ip].ec2.internal, not [ip].us-east-1f.ec2.internal, which differs from all the other zones around the world.

[2021-02-02 13:54] olemarkus commented on #169
Tests looks better now. The cluster runs, and the tests that are failing now seems to be the same as the ones that failed earlier.

[2021-02-02 22:30] kireledan commented on #80
I can't find any time to keep working on this. Anyone is totally free to pick this up. It's in working state, the logic just needs to be moved around according to the PR comments.

[2021-02-03 22:23] mars64 commented on #168
I think you're looking for the [`aws-load-balancer-controller` project](https://github.com/kubernetes-sigs/aws-load-balancer-controller) -- [they just took over for the Ticketmaster/CoreOS ALB Ingress Controller](https://github.com/kubernetes/enhancements/issues/423#issuecomment-726253356) and I think are the ones that [provide the annotation you reference](https://kubernetes-sigs.github.io/aws-lo

[2021-02-04 17:28] nckturner commented on #169
Thanks @olemarkus!

[2021-02-04 17:28] nckturner commented on #169
/close

[2021-02-04 17:28] #169 closed

[2021-02-04 18:39] JESWINKNINAN commented on #119
@jkroepke are you working on this, can you please confirm?

[2021-02-04 18:57] jkroepke commented on #119
No. Just ask if the maintainers are interest.
No response recived yet.

[2021-02-04 19:23] ayberk commented on #119
@jkroepke Contributions are always welcome :) We would certainly appreciate if you can pick this up.

[2021-02-05 02:20] JESWINKNINAN commented on #119
@ayberk Since @jkroepke is not yet started. I am assigned this issue to me

[2021-02-05 02:20] JESWINKNINAN commented on #119
/assigned @JESWINKNINAN

[2021-02-05 02:22] JESWINKNINAN commented on #119
/assign

[2021-02-05 09:08] jkroepke commented on #119
Alright, thanks for the note.

[2021-02-05 20:02] #119 closed

[2021-02-07 13:46] #108 closed

[2021-02-08 18:45] nckturner commented on #142
/remove-lifecycle rotten

[2021-02-08 18:46] nckturner commented on #125
/remove-lifecycle stale

[2021-02-08 18:48] nckturner commented on #113
/remove-lifecycle rotten

[2021-02-08 18:49] nckturner commented on #80
/remove-lifecycle rotten

[2021-02-08 18:49] nckturner commented on #86
/remove-lifecycle stale

[2021-02-08 18:50] nckturner commented on #86
We are in the process of updating the docs and adding a new docs site. I'll keep this issue updated.

[2021-02-08 19:01] nckturner commented on #49
/close

Ref:
https://github.com/kubernetes/kubernetes/issues/92321
https://github.com/kubernetes/kubernetes/pull/94546

This fix is included in the external cloud controller manager (this repository) as well.

[2021-02-08 19:02] #49 closed

[2021-02-08 19:03] nckturner commented on #36
/close

Please reopen this issue if its not fixed by https://github.com/kubernetes/kubernetes/pull/74692

[2021-02-08 19:03] #36 closed

[2021-02-08 19:14] nckturner commented on #86
Follow progress here:
https://kubernetes.github.io/cloud-provider-aws/

Also the README has been updated: https://github.com/kubernetes/cloud-provider-aws/blob/master/README.md but ideally that information should be included in the home page of the docs site too.

[2021-02-08 19:23] kishorj commented on #168
Legacy cloud provider has the fix https://github.com/kubernetes/kubernetes/pull/95247, and will be available in 1.20.

[2021-02-09 00:31] NeckBeardPrince commented on #88
Can we reopen this?
/reopen
/remove-lifecycle rotten

[2021-02-09 02:00] ayberk commented on #88
/reopen

[2021-02-14 09:58] nimrodishi opened #177 "annotation to create service-endpoint (PrivateLink)"
**What would you like to be added**:
Currently there are annotations to create an NLB.
I want the option to either:
1. pass an existing NLB arn/id and use this
2. Or; having an annotation that creates an Endpoint Service (for PrivateLink purposes)

**Why is this needed**:
As I mentioned in (2), there's currently no way to do this.
I have to let k8s service generate the nlb for me, and then manuall

[2021-02-17 00:53] TBBle commented on #87
Another method to improve this situation: [k8s 1.19](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html#kubernetes-1.19) supports a new annotation [`service.beta.kubernetes.io/aws-load-balancer-target-node-labels`](https://kubernetes.io/docs/concepts/services-networking/service/#other-elb-annotations) which can limit the the instances used by a CLB or NLB by label. See https

[2021-02-17 15:14] chiefy commented on #110
Just want to add that this would be a huge help in the AWS-CNI bootstrapping process when you use custom networking (ENIConfig CRDs which are AZ dependent) to label the nodes to use the proper corresponding `ENIConfig`.

[2021-02-18 23:09] nckturner commented on #33
/assign

[2021-02-18 23:13] nckturner commented on #51
@kishorj @M00nF1sh

[2021-02-18 23:20] nckturner commented on #86
/assign

[2021-02-18 23:22] nckturner commented on #87
/cc @M00nF1sh @kishorj

[2021-02-18 23:35] nckturner commented on #110
/assign

[2021-02-18 23:36] nckturner commented on #113
@M00nF1sh @kishorj

[2021-02-18 23:37] nckturner commented on #121
/assign

[2021-02-18 23:37] nckturner commented on #123
Good enough start for now.

[2021-02-18 23:37] #123 closed

[2021-02-18 23:40] nckturner commented on #142
/assign @ayberk

[2021-02-18 23:42] nckturner commented on #155
/assign @kishorj @M00nF1sh

[2021-02-18 23:43] nckturner commented on #168
/close

[2021-02-18 23:43] #168 closed

[2021-02-22 13:29] aSapien commented on #113
I'm experiencing the same issue

[2021-02-22 13:58] aSapien opened #180 "First provisioning of NLB ignores logging and cross-zone annotations"
**What happened**:
When NLB is first provisioned, S3 Logging and Cross Zone annotations are ignored.

**What you expected to happen**:
For the Logging and Cross-Zone annotations to apply on initial creation of NLB when these annotations exist:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
1. __Create a dummy service with the relevant loadbalancer annotations. Example:__

[2021-02-22 16:17] JESWINKNINAN opened #181 "Extend Node Controllers Functionality For the Nodes From Different/Cross AWS Accounts."
Currently CCM Node Controller is initialised the instance from the deployed AWS Account. Here we want to extent the node controller functionality to the nodes which are from different account

/kind feature

[2021-02-22 18:16] ayberk commented on #180
Hi @aSapien, currently it's not possible to enable the external cloud-provider on an EKS cluster. So this would be a bug on the upstream k/k.

That being said, this might be an issue we need to deal with during migration. Can you describe your setup? Are you running the kubelet with `--cloud-provider=external`?

[2021-02-23 11:00] aSapien commented on #180
Hey @ayberk, I'm not sure I'm following. Doesn't EKS use the AWS cloud provider internally?

I can see that the annotations are parsed and handled here, and seems like the ones in question are only handled in the "UpdateLoadBalancer" flow.

Tracing the call chain, this is what I see:

- `reconcileLBAttributes` is handling the annotations:
https://github.com/kubernetes/cloud-provider-aws/blob/6c10f

[2021-02-24 17:20] aSapien commented on #180
@ayberk I see it's been fixed in k/k 1.20 https://github.com/kubernetes/kubernetes/pull/95247

[2021-02-25 22:48] #142 closed

[2021-02-25 22:57] ayberk commented on #180
Not yet. External cloud provider (this repo) is not enabled on EKS clusters yet, and there's no way to enable it. Therefore all EKS clusters still use the [in-tree legacy providers](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/legacy-cloud-providers/aws).

Appreciate the investigation! I'll keep this issue open because we probably need to port the fix here as well.

[2021-03-01 15:41] dbluxo opened #184 "Could not find any suitable subnets for creating the ELB"
**What happened**:

Since Amazon EKS version 1.19, the `kubernetes.io/cluster/<cluster-name>` subnet tag is no longer set automatically.
As also described in the [release notes](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html ) for 1.19

As a result, we can no longer provision internal load balancers via Kubernetes using a Kubernetes service:

[code]

We have configured t

[2021-03-02 19:15] tru-cstavares opened #185 "Multiple tagged subnets in AZ not working correctly when creating AWS ELB"
**What happened**:
Our network setup has 4 subnets (in each AZ) as follows:

- 1 subnet is public (1 AZ-a, 1 AZ-b, 1 AZ-c)
- 1 subnet is private (1 AZ-a, 1 AZ-b, 1 AZ-c)
- 1 subnet is private (1 AZ-a, 1 AZ-b, 1 AZ-c)
- 1 subnet is private (1 AZ-a, 1 AZ-b, 1 AZ-c)

We use public subnet to create public ELBs. It happens that we run out of IPs on our public subnet, so the solution was to add addition

[2021-03-03 14:50] hryamzik commented on #124
![image](https://user-images.githubusercontent.com/1643962/109823393-f122a080-7c48-11eb-9ac6-c1329154bb4c.png)

[2021-03-03 17:37] ayberk commented on #124
👀

/remove-lifecycle stale

[2021-03-10 13:05] hypervtechnics opened #187 "[Enhancement] Support internal NLB using private IP per subnet"
**What would you like to be added**:

Already implemented in the CLI using the `--subnet-mappings [...]` argument: https://docs.aws.amazon.com/cli/latest/reference/elbv2/create-load-balancer.html
An additional annotation like `service.beta.kubernetes.io/aws-load-balancer-subnet-ips: 123.456.789.000,987.654.321.000` or an extension to the existing annotation `service.beta.kubernetes.io/aws-load-bal

[2021-03-10 15:37] yuvraj9 opened #188 "Helm repo is not working"
**What happened**:
Helm repo is not working. Getting below error

```Error: looks like "https://github.com/kubernetes/cloud-provider-aws" is not a valid chart repository or cannot be reached: failed to fetch https://github.com/kubernetes/cloud-provider-aws/index.yaml : 404 Not Found```

**What you expected to happen**:
Running helm add command should have added the repository but its failing

**Ho

[2021-03-10 21:51] ayberk commented on #188
Unfortunately we're currently not serving the charts anywhere because we're using github pages for our documentation. This is on my list and I'll update the ticket when it's resolved.

I'm afraid the only way to install it via helm right now is cloning the repo and installing directly from the local folder.

[2021-03-13 12:42] JESWINKNINAN commented on #188
@ayberk Can you please assign this issue to me

[2021-03-15 19:20] ayberk commented on #188
@JESWINKNINAN Where are you planning to host the charts? I was planning to move docs to another hosting solution and use gh-pages for our helm charts.

[2021-03-19 22:20] nckturner commented on #33
Assuming this means tagging resources on creation, and then limiting the cloud provider to modifying/deleting resources that are tagged -- the difficulty lies in upgrading to a version of the cloud provider that does this, and accounting for resources that were created prior to this feature being implemented.  Possibly we can use a command line tool to look for resources by querying kubernetes API

[2021-03-19 22:36] nckturner commented on #86
Documentation will be available here going forward: https://cloud-provider-aws.sigs.k8s.io/

We will continue working on the docs, but I think we've made enough initial progress that I can close this issue.  Please feel free to open specific issues if you feel certain areas are lacking documentation.

[2021-03-19 22:36] #86 closed

[2021-03-19 22:44] nckturner commented on #121
Basic instructions here: https://kubernetes.github.io/cloud-provider-aws/getting_started/#using-kops
/close

[2021-03-19 22:44] #121 closed

[2021-03-19 22:51] nckturner commented on #63
/reopen

[2021-03-19 23:46] rifelpet commented on #124
FWIW, I added support in aws-load-balancer-controller to specify a custom NLB name: https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/1880

I've also confirmed that the controller can "adopt" existing NLBs by adding the appropriate tags to the load balancer and target groups: https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/efe7e71d270e57a70d0c17587ee89237e05

[2021-03-22 19:59] zerog2k commented on #113
Curious also if anyone notices that in the case of CLB, the tags propagate to the LB resource (expected), but do not propagate to auto-created SG resource (unexpected)? (seems like a bug, and I'm willing to open a separate issue, if that's the correct route).

[2021-03-22 21:05] nckturner commented on #124
I've started working on this.

[2021-03-22 21:05] nckturner commented on #124
/assign

[2021-03-22 21:16] nckturner commented on #124
/hold
Need to figure out how to handle existing ELBs.

[2021-03-22 21:17] nckturner commented on #124
/hold

[2021-03-23 14:29] JESWINKNINAN commented on #188
@ayberk Hope the new PR will fix the issue?

[2021-03-23 15:24] ayberk commented on #188
@JESWINKNINAN yep. It worked on my fork, but let me know if it doesn't work for you.

[2021-03-24 22:38] ayberk commented on #110
I'm tentatively starting to look into this, but I'd appreciate some input before I dive deeper:

1) Are we OK with _only_ applying certain predefined tags as labels? If we want to support arbitrary tags, there are a lot of edge cases we need to consider because of formatting and limits. I'd say let's start small for initial implementation.
2) Assuming we apply the "role" label, anyone that can lau

[2021-03-25 11:48] TBBle commented on #110
The 'role' label risk applies to all arbitrary labels, because any label might be the label used by the cluster admins to put sensitive workloads on tightly-controlled nodes.

That's the rationale for removing this feature from kubelet in the first place, except for the `node.kubernetes.io/…`, since cluster administrators should now be aware that a node can self-apply labels in that namespace, and

[2021-03-25 12:16] rifelpet commented on #110
FWIW kOps supports node labeling from tags using the tag prefix that cluster-autoscaler recognizes:

https://github.com/kubernetes/kops/pull/9575/files#diff-7f1248cf1e27af9ae310930d67bd24dfc04d295e8e75c2e910097769e790a872R42

https://github.com/kubernetes/autoscaler/blob/5f2e54a87fb9e17c20ca1e4db52fd9bd50696b55/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L410

[2021-03-25 14:39] ayberk commented on #72
/remove-lifecycle rotten

[2021-03-26 23:23] ayberk commented on #110
Appreciate the input. That makes sense to me.

As an additional check, how do you feel about hiding this behind a flag? It'd be false by default and the cluster admin would have to explicitly allow the tag labeling, forcing them to acknowledge this behavior.

[2021-03-27 04:09] TBBle commented on #110
I think it would make sense to:
* Have a single kill-switch for cloud-provider-aws supporting node labelling. I'd probably default this _on_, but "off" for the "kOps/CAPI/etc. is managing this already, thank you" use-case.
* Automatically handle some known tag namespace, like `tags.ec2.aws.amazon.com/...` I mentioned above.
* * Anyone who was already using that namespace, and _isn't_ ec2.aws.amazo

[2021-03-28 18:02] nckturner opened #195 "Publish credential provider consumables"
**What would you like to be added**:
Placeholder for publishing binaries/consumables for the credential provider.
**Why is this needed**:
This is needed so that distributions such as kops can consume the credential provider during node launch or AMI build.  See https://github.com/kubernetes/kops/issues/11158.

/kind feature

[2021-03-30 01:02] calvinbui commented on #113
Same for me on v1.19 EKS with NLBs

[2021-03-30 22:58] zenvdeluca opened #196 "Add NLB support for BYOIP PublicIpv4Pool parameter"
AWS customers that make usage of [AWS BYOIP feature](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-byoip.html), when provisioning public network load balancers (NLBs), it requires a two-step process where:

1: provision Elastic IPs referencing an existing BYOIP ipv4 pool
[code]

2: Provision an NLB referencing the EIPs created on Step 1

We need the functionality of passing our ipv4pools

[2021-04-08 20:19] nckturner opened #198 "Test framework for e2e tests"
Let's create a framework for e2e testing.  I suggest we borrow the structure of the ebs-csi-driver e2e tests (see [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/tests/e2e)).

[2021-04-14 15:10] kharouny commented on #108
This is a very much needed feature. Bump

[2021-04-16 21:54] nckturner commented on #198
/cc @ayberk

[2021-04-16 21:59] nckturner opened #201 "1.21 release"
**What would you like to be added**:
* Update dependencies/create images for Kubernetes 1.21

**Why is this needed**:
We need a release for Kubernetes 1.21, additionally this version will give us [leader migration](https://kubernetes.io/docs/tasks/administer-cluster/controller-manager-leader-migration/):

/kind feature

[2021-04-16 22:06] nckturner opened #202 "Investigate importing this repository from k/k"
Determine if we should import the v1 provider in this repository into the staging legacy-cloud-provider location, or just continue cherry-picking bug fixes until the code is removed from k/k.

/cc @andrewsykim @cheftako

[2021-04-16 22:08] nckturner commented on #195
Make sure to include and test windows.

[2021-04-16 22:19] nckturner opened #203 "User story for AWS load balancer controller"
Our story around the cloud-controller-manager and the aws-load-balancer-controller is not clear, and is made worse by the fact that NLB functionality is split across the two [[1]](https://github.com/kubernetes/cloud-provider-aws/issues/196).

Some thoughts:
1. We should move all NLB functionality to the aws-load-balancer-controller.
2. We should unify the installation method (for most common use c

[2021-04-16 22:23] nckturner commented on #188
Closing, https://github.com/kubernetes/cloud-provider-aws/pull/191 should resolve this.

[2021-04-16 22:24] #188 closed

[2021-04-20 00:59] kishorj commented on #155
/remove-lifecycle rotten

[2021-04-20 00:59] kishorj commented on #155
/reopen

[2021-04-22 16:33] cheftako commented on #202
This repo imports parts of K/K staging so I would say its not safe to import it into any of the K/K public repos. However I do not see it importing anything from K/K private. As long as that remains true, I think it should be safe to import it in K/K private. So you could use it for things like Kubelet, KAS and KCM.

[2021-04-29 14:31] subhankarc opened #206 "AWS NLB not spanning across AZs after a cluster update"
**What happened**:

I am facing a strange problem with the loadbalancer type service on AWS. Following are the steps I am doing.

1. I created a cluster(based on Gardener) with one node in 1 AZ, eu-central-1a.
2. 1. I created a loadbalancer type service. I used  `service.beta.kubernetes.io/aws-load-balancer-type: nlb` annotation to let it create an AWS NLB behind.
3. I have 1 pod behind the servic

[2021-04-29 21:51] nurhun opened #208 "AWS CCM doesn't attach instances automatically to the Classic LB"
**What happened**:
I'm using AWS cloud controller with Ingress nginx on k3s cluster. It initializes classic lb for LoadBalancer services successfully but it doesn't attach instances to it, generating url with empty response.

**What you expected to happen**:
Attaching instances owned by the cluster to the lb automatically.

**How to reproduce it (as minimally and precisely as possible)**:
Run Load

[2021-04-30 16:31] nckturner commented on #203
Add messaging for users that encourages them to migrate to the aws-load-balancer-controller, eventually should we introduce a feature gate that is on by default, which disables the in-tree NLB functionality?

[2021-04-30 16:35] nckturner commented on #187
This will be supported in the 2.2.0 of the aws-load-balancer-controller, is that something you can use?

[2021-04-30 16:36] #196 closed

[2021-05-01 15:08] kolorful commented on #87
@TBBle Somehow this seems not to be the case. I've tested in two clusters (v1.18 and v1.20) and requests to traffic port (30467, 30607) hangs on nodes that don't have Nginx Pod, but requests to healthCheckNodePort (30308) will be re-routed to the correct nodes somehow.

[code]

Update:
If I ssh into a worker node with no Nginx running, then curl the traffic port (127.0.0.1:30467) it works as well.

[2021-05-01 15:56] TBBle commented on #87
That's the intended behaviour of the health-check port. It tells you if _this node_ has that service available or not. That's what I meant about it not being routed, it's handled locally on _every_ node, based on the pod's presence on that node, it's not routed.

Because you're using `externalTrafficPolicy: Local`, only nodes that have a copy of the pod will respond, the rest are probably holding

[2021-05-01 20:36] nckturner opened #209 "Cherry pick PRs from K/K"
We forked the legacy cloud provider aws code into [pkg/providers/v1](https://github.com/kubernetes/cloud-provider-aws/tree/master/pkg/providers/v1), and we need cherry-pick the following PRs from K/K.

- [ ] [Delete leaked volume if driver don't know the volume status -- aws #99664](https://github.com/kubernetes/kubernetes/pull/99664)
- [ ] [Use GA topology labels for EBS #99130](https://github.co

[2021-05-02 06:12] nckturner commented on #209
https://github.com/kubernetes/cloud-provider-aws/pull/210
https://github.com/kubernetes/cloud-provider-aws/pull/211
https://github.com/kubernetes/cloud-provider-aws/pull/212

[2021-05-04 20:00] vidyaap opened #213 "LoadBalancerIP support in EKS Service definition"
**What would you like to be added**:
I would like to be able to assign the field `LoadBalancerIP` in a Kubernetes service spec for dynamically generated services. This is the same request as the one in [this issue](https://github.com/kubernetes/cloud-provider-aws/issues/48#issue-473604188).  I have seen the annotations suggestion [here](https://github.com/kubernetes/cloud-provider-aws/issues/48#is

[2021-05-13 22:12] nckturner opened #216 "Remove unused permissions from role"
Currently the recommended role asks for a number of potentially unused permissions:
[code]

Autoscaling is used in some kubernetes e2e test files, and the rest I don't see any calls from k/k into those utility functions.  We should remove them from required permissions after validating that they are not required.

[2021-05-13 23:44] nckturner opened #217 "Reduced RBAC when using per-controller service account credentials"
If `--use-service-account-credentials=true`, then the base ClusterRole and ClusterRoleBinding should be more restricted.  There should be at least 2 RBAC profiles, depending on whether or not this flag is set.

[2021-05-14 17:41] nckturner opened #218 "CCM node-controllers should have separate identities from upstream"
Currently there are 3 controller which call themselves the "node-controller" (i.e. use the node-controller service account and role), the cloud-node-controller, the cloud-node-lifecycle, and the upstream node-lifecycle.

In order for cluster administrators to determine which controller is performing which actions, it makes sense for us to separate these identities and roles.

I propose we rename t

[2021-05-15 12:01] rifelpet commented on #177
This will likely be implemented in the aws-load-balaner-controller. I recommend subscribing to https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1859

[2021-05-16 09:43] Juneezee opened #219 "cloud-controller-manager image should support arm64"
**What would you like to be added**:
The [cloud-controller-manager](gcr.io/k8s-staging-provider-aws/cloud-controller-manager) should support `arm64` architecture.

**Why is this needed**:
The latest AWS EC2 instances (e.g. t4g, m6g, c6g, etc.) are ARM64.

/kind feature

[2021-05-16 18:34] Juneezee commented on #208
I am facing this issue as well. In my case, I created a Kubernetes with 1 control plane and 1 worker node using kubeadm.

`kubectl expose deployment example-deployment --type=LoadBalancer --name=example-service` does create a classic load balancer, but I have to manually attach the load balancer to my worker node for it to work.

[2021-05-18 02:22] YYashwanth opened #220 "Pass tags in the CreateSecurityGroup and CreateLoadBalancer API call"
Hello,

I have a scenario where we have an AWS SCP restricting the creation of security groups and ELBs that are not tagged. When we create a service of type LoadBalancer, EKS creates the LoadBalancer, creates the security group and then does an CreateTags API call to add tags to the security group and a AddTags API call to add tags on the ELB.

As a result of the various API calls, the resource c

[2021-05-27 05:43] Kent1 opened #224 "Classic ELB with IPv6"
I created a loadbalancer service type. The generated SG is something like

![image](https://user-images.githubusercontent.com/83018/119771971-c69a5980-bebe-11eb-8919-b5ca38ebb444.png)

corresponding to the service

[code]

I would like to add IPv6 support to it. Adding ::/0 to loadBalancerSourceRanges however gives the following error in the controller:

[code]

Is that maybe not supported yet ?
I

[2021-05-27 18:36] Kent1 commented on #224
Ok, once ipv6 enabled on ELB it worked out of the box. In fact, SG is ignored for Ipv6. Closing

[2021-05-27 18:36] #224 closed

[2021-05-27 23:09] jicowan opened #225 "Credential Provider does not work with AWS Profile that references a credential_process"
**What happened**:
I wrote a binary that issues a temporary set of AWS credentials. I reference this binary in a shared config file:
[code]
The binary returns a json blog that looks as follows:
[code]
When I add the env `AWS_SDK_LOAD_CONFIG` to the `KubeletCredentialProviderConfig` the kubelet hangs.
[code]
When I try referencing an AWS profile as an env the following is output to the kubelet logs

[2021-05-29 00:21] kgibcc commented on #87
Have you tried this setup with TLS passthrough enabled?  I'm having a bit of trouble getting it work.

[2021-05-31 00:28] nurhun commented on #72
How to get the cluster id ?

I'm using k3s cluster on AWS EC2 with tag "Key: kubernetes.io/cluster/default" & "Value: owned", where default is the cluster name and doesn't work !

[2021-05-31 06:56] TBBle commented on #72
It looks like the code has moved, the original comment was referring to https://github.com/kubernetes/legacy-cloud-providers/blob/326b090685d0dc77c6295e46ce21ca33fa7ea776/aws/aws.go#L4581-L4584, but as-of k8s 1.20, it's still [the same](https://github.com/kubernetes/legacy-cloud-providers/blob/release-1.20/aws/aws.go#L4885-L4888), just moved a little.

So the tag you've described on your EC2 insta

[2021-05-31 08:33] damienleger opened #226 "Add annotations to configure load balancer target groups attributes"
**What would you like to be added**:

Hello,

it would be very nice if such annotations would be added to configure target groups of load balancer (https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/service/annotations/#target-group-attributes)

**Why is this needed**:

My case is the deployment of the nginx ingress controller to route all my ingress traffic https://kubernet

[2021-06-01 00:51] mihirk opened #227 "NLBs and ALB creation in Cross-VPC Kubernetes Clusters"
**What would you like to be added**:
Capability to create NLBs or ALBs when the kubernetes deployment is across multiple VPCs

**Why is this needed**:

We have a kubernetes cluster deployment which spans multiple VPCs. There is the main workload VPC where all the application workloads are run and also where the master nodes reside. The main VPC has no access to internet neither is it reachable fro

[2021-06-02 13:29] nurhun opened #228 "Helm chart v 0.0.3 - ImagePullBackOff - Failed to pull image - not found"
**What happened**:
getting error "ImagePullBackOff" when trying to install latest helm chart.

Logs:
- Pulling image "gcr.io/k8s-staging-provider-aws/cloud-controller-manager:v1.21.0-alpha.0"
- Failed to pull image "gcr.io/k8s-staging-provider-aws/cloud-controller-manager:v1.21.0-alpha.0": rpc error: code = NotFound desc = failed to pull and unpack image "gcr.io/k8s-staging-provider-aws/cloud-cont

[2021-06-02 14:20] nurhun commented on #72
@TBBle I'm using 0.0.2 helm chart, like below,

helm repo add aws-cloud-controller-manager https://kubernetes.github.io/cloud-provider-aws
helm repo update
helm install aws-cloud-controller-manager aws-cloud-controller-manager/aws-cloud-controller-manager --version 0.0.2

[2021-06-02 15:25] TBBle commented on #72
Okay, so that will be for kubernetes 1.20, and you're running the AWS v1 cloud provider with log level 2 (by default), so the [`describeInstances`](https://github.com/kubernetes/cloud-provider-aws/blob/v1.20.0-alpha.0/pkg/providers/v1/aws.go#L4768-L4786) function is still unchanged.

To diagnose this you'll need logs from the daemonset pods running on your master nodes. Specifically, the first thi

[2021-06-03 12:28] mustafakmal opened #229 "Ambassador Loadbalancer Resets & Aws-Cloud-Controller-Manager Randomly Restarts."
**What happened**:
Ambassador Loadbalancer settings resets and aws-cloud-controller-manager restarts. This is happening randomly and we are not able to find the trigger due to which the ELB settings reset.
This is happening on both are environments:
- A self-managed Kubernetes Cluster
- A EKS cluster.

We are getting the following events and logs for the single node self-manged Kubernetes cluster

[2021-06-05 12:37] yunusemrecatalcam opened #231 "Any way to use that after --cloud-provider=aws deprecated?"
**What happened**:
I'm creating a self-managed k8s cluster on an ec2, I wanna use ebs on it. However, I got some error with the cloud provider while using dynamic provisioning/mounting and existing snapshot on ebs with the kubernetes.io/aws-ebs provisioner.

Just to check, I installed ebs-csi, ebs.csi.aws.com provisioner, volumes works fine.

I'm seeing passing --cloud-provider=aws flag to kubeadm

[2021-06-07 16:44] benprofessionaledition opened #232 "Specify private IPs for NLB"
**What would you like to be added**:
I'd like the ability to specify internal IPs for an NLB provisioned through this provider. This functionality exists in AWS, and  functionality currently exists where we can specify elastic IPs in this provider with the "service.beta.kubernetes.io/aws-load-balancer-eip-allocations" annotation, however it doesn't work for private VPCs (you can't have elastic IPs

[2021-06-09 06:53] raelga commented on #88
/remove-lifecycle rotten

[2021-06-09 19:00] okossuth commented on #87
@LHCGreg You could use a DaemonSet instead of a Deployment for your ingress-nginx controller pods, that way every node will have one, and the NLB will be able to see the nodes as healthy...

[2021-06-12 05:47] TBBle commented on #87
That setup has the same problem with new nodes, in that they are receiving traffic immediately, while the local nginx-ingress Pod from the DaemonSet may still be starting up.

It also assumes you can run nginx-ingress on _every_ Node, which precludes dedicated nodes, otherwise you still have those nodes from which nginx-ingress is blocked by nodeSelector, antiAffinity, etc, receiving traffic until

[2021-06-12 07:54] stevehipwell commented on #87
I thought all of this was solved by using the out of tree AWS load balancer controller? Either in nlb-ip mode or in instance mode using the node label selector annotation.

[2021-06-12 12:51] okossuth commented on #87
@stevehipwell @TBBle The problem with using the AWS load balancer controller is that it deploys an ALB as ingress object which for some use cases has severe limitations, like it only supports 25 SSL certs and 100 path rules per ALB. For this reason we are using ingress-nginx as ingress in our EKS cluster.

[2021-06-12 12:56] stevehipwell commented on #87
@okossuth I was refering to the AWS load balancer controller provisioning the NLB for the Ingress Nginx chart service, so what I said previously stands.

[2021-06-12 13:04] okossuth commented on #87
@stevehipwell You mean using both ingress-nginx controller and AWS load balancer controller pods at the same time in an EKS cluster?

[2021-06-12 13:07] stevehipwell commented on #87
@okossuth I mean using the AWS load balancer controller instead of the in tree controller for provisioning the NLB backing your Ingress Nginx.

https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/

[2021-06-12 13:17] okossuth commented on #87
@stevehipwell ok i will try that approach, thanks

[2021-06-12 13:34] TBBle commented on #87
@okossuth You're thinking of version 1 of the AWS Load Balancer controller, when it was known as the AWS ALB Ingress Controller. Version 2 now manages NLB Load Balancers too, and replaces the built-in support for Load Balancers in Kubernetes or the AWS Cloud Controller.

See https://aws.amazon.com/blogs/containers/introducing-aws-load-balancer-controller/, although since that article was written,

[2021-06-16 14:26] kgibcc commented on #87
I have not been able to get AWS Load Balancer Controllers to work with TLS passthrough.  Using these annotations:
[code]
both `externalTrafficPolicy: "Local"` and `externalTrafficPolicy: "cluster"` produce TLS handshake errors

[2021-06-16 14:59] TBBle commented on #87
@kgibcc It's probably better to ask about that on the [AWS Load Balancer Controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller) issue tracker.

[2021-06-16 23:30] L30Bola opened #234 "Creation of a NLB ignores proxy protocol annotation"
**What happened**:
When NLB is created, it's listeners' target groups are created but they aren't enabling Proxy Protocol

**What you expected to happen**:
When the NLB is created, after the creation and attachment of the target groups, they should enable proxy protocol.

**How to reproduce it (as minimally and precisely as possible)**:
Create a service with the specific annotation:
[code]

**Anyt

[2021-06-21 18:08] kuntalkumarbasu commented on #113
we are facing this issue with 1.20 as well

[2021-06-21 19:52] jtcarnes opened #235 "Helm Template Doesnt Use extraArgs to daemonset"
**What happened**:

Currently, the helm template for the daemonset does not utilize the `extraArgs` key at all. It is intended
to allow users to specify additional arguments to the daemonset.

**What you expected to happen**:

Values in the `extraArgs` key should be provided to the daemonset as arguments.

**How to reproduce it (as minimally and precisely as possible)**:

Look at the helm template

[2021-06-23 17:21] nurhun commented on #228
any updates here guys

[2021-06-23 23:15] nurhun commented on #72
Well, using tag "kubernetes.io/cluster/default = owned ", where "default" is the default cluster name of k3s.

Getting results below

Logs for "AWS cloud filtering on ClusterID":
[code]

Logs for aws pod upon startup:
[code]

Getting below result with no nodes attached.

[code]

I've noticed below in logs:

`W0623 22:54:07.975072       1 instances.go:115] node "ip-10-0-8-166.ec2.internal" did not

[2021-06-28 08:56] TBBle commented on #110
Following up on my notes above, the third dot-point ("Optionally handle cluster-autoscaler's node-template tag namespace") wouldn't be necessary for Managed Nodegroups, as per https://github.com/aws/containers-roadmap/issues/724#issuecomment-859948729, Managed Nodegroups will not be using AWS tags to feed labels/taints to Cluster Autoscaler, so perhaps this would be better to default to "off" afte

[2021-06-29 08:03] iamNoah1 commented on #87
Hi @LHCGreg @TBBle @f-ld @avielb @kolorful @kgibcc @okossuth do you guys consider this being an issue with ingress-nginx?

[2021-06-29 09:56] TBBle commented on #87
Not specifically? I expect this problem would affect any LoadBalancer Service with the `service.beta.kubernetes.io/aws-load-balancer-type: nlb` annotation, being run with the AWS Cloud Provider v1 or the in-k8s-tree AWS Cloud Provider.

[2021-06-29 23:51] M00nF1sh commented on #87
There is a known issue that NLB will route traffic to newly registered targets(even before it passes initial health check). NLB team is rolling out a new HC system which likely addressed this.

However, with externalTrafficPolicy: Local, inherently it relies on the LoadBalancer to fail health-check when pod is migrated to other nodes, which will be failed requests before the health-check fail.

I'

[2021-07-08 21:28] #125 closed

[2021-07-11 18:16] L30Bola commented on #234
Bump

[2021-07-13 00:10] jfoy commented on #110
/remove-lifecycle stale

[2021-07-13 11:29] MoShiKB opened #239 "EBS storage class not working, GetCloudProvider return nil"
Hey,
I'm trying to use out-of-tree with RKE cluster.

**What happened**:
the cloud manager deployment finished successfully, node controller and service controller works perfectly.
afterward, I created a new EBS storage class:
[code]
Then I created a new pod with PVC using the storage class.
but it seems the PVC cannot create any new EBS on the cloud, and return the following error:
`Failed to pro

[2021-07-14 12:42] #177 closed

[2021-07-15 09:18] cjose3 opened #240 "AWS NLB's target group is not taking into account node labels."
**What happened**:
The NLB's target group is registering all nodes of the cluster.

**What you expected to happen**:
The NLB's target group registers ONLY those nodes with labels defined by the annotation `service.beta.kubernetes.io/aws-load-balancer-target-node-labels`.

**How to reproduce it (as minimally and precisely as possible)**:
Create a service such:
[code]
On a cluster with two group of

[2021-07-15 11:45] mstefany commented on #228
Seems that only `v20210510-v1.21.0-alpha.0`, `v20210520-v1.21.0-alpha.0-2-g54f2b5c` and `v20210623-v1.21.0-alpha.0-4-g7d6f102` tags were generated for the images, no simple `v1.21.0-alpha.0` as with previous release.

[2021-07-15 14:54] #240 closed

[2021-07-15 14:57] cjose3 commented on #240
I'm closing this issue because, it has been addressed [here](https://github.com/kubernetes/kubernetes/pull/90943)
According to the [AWS documentation related to kubernetes versions](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html), this feature was introduced in 1.19 and we're using 1.18.

[2021-07-16 09:43] pschulten commented on #228
same with the cloud-controller image:
[code]

v1.20.0 works
[code]

[2021-07-19 00:21] #51 closed

[2021-07-19 00:21] #80 closed

[2021-07-22 17:53] #181 closed

[2021-07-22 22:53] nckturner commented on #202
We're not going to do this.
/close

[2021-07-22 22:53] #202 closed

[2021-07-22 23:40] #201 closed

[2021-07-23 08:22] zanven42 commented on #63
any chance of this being worked on?

[2021-07-23 16:16] andrewsykim commented on #198
This project is really early stages but might be worth trying out https://github.com/kubernetes-sigs/e2e-framework

[2021-07-23 16:17] justinsb commented on #155
We discussed in provider-aws, one possible workaround might be to have an "adapter" sidecar container that speaks HTTP; NLB health-checks that sidecar container; the sidecar container would respond based on doing a Zookeeper health-check.

[2021-07-23 17:27] nckturner commented on #195
/remove-lifecycle-stale

[2021-07-23 17:27] kishorj commented on #234
The in-tree or the cloud-provider-aws currently do not support `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol` annotation for NLB.

The external AWS Load balancer controller (https://github.com/kubernetes-sigs/aws-load-balancer-controller) supports the proxy protocol annotation for NLB. Starting [v2.2.0 release] (https://github.com/kubernetes-sigs/aws-load-balancer-controller/release

[2021-07-23 17:27] nckturner commented on #195
/remove-lifecycle stale

[2021-07-23 17:29] kishorj commented on #234
/remove-kind bug

[2021-07-24 12:41] TBBle opened #242 "[EKS] Kubernetes Restricted Label support for Managed Node Groups"
**What would you like to be added**:

The Managed Node Groups API current rejects labels with prefixes containing `kubernetes.io/`, `k8s.io/`, `eks.amazonaws.com/`. I haven't checked, but I assume this is actually matching the behaviour of the [NodeRestriction Admission Controller](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#noderestriction) with the addition of

[2021-07-24 12:42] TBBle commented on #242
Gah, I opened this in the wrong repo. Please ignore. >_<

[2021-07-24 12:42] #242 closed

[2021-07-25 06:24] #155 closed

[2021-07-26 08:55] TBBle commented on #110
Since this came back on my radar again, I thought I'd mention that in my suggestion earlier, the fourth dot-point (_Support (but not enable by default) other administrator-provided tag or tag-prefixes to honour._) has a high risk of introducing a security vulnerability, and it probably needs to provide, for example, an option to block using AWS Tags to mark a node as `node-role.kubernetes.io/maste

[2021-07-26 23:18] #180 closed

[2021-07-27 22:27] SpootyMcSpoot commented on #80
Any update here?

[2021-07-27 22:28] SpootyMcSpoot commented on #80
/reopen

[2021-07-27 22:29] SpootyMcSpoot commented on #80
Any update here?

[2021-07-29 06:48] niuzs-alan commented on #113
Same for idle

[2021-07-29 09:28] MMeent opened #243 "Dualstack support for NLB"
**What would you like to be added**:

Support for dualstack NLB LoadBalancer services

**Why is this needed**:

Right now, NLBs are not deployed with dualstack, even if the VPC supports dualstack, and it's important to support IPv6, even if it's only for ingress traffic.

/kind feature

[2021-07-29 21:23] hypervtechnics commented on #187
/remove-lifecycle stale

[2021-08-03 21:21] joedborg opened #244 "Charts / Manifests refer to tag v1.21.0-alpha.0, which doesn't exist"
https://github.com/kubernetes/cloud-provider-aws/blob/master/manifests/base/aws-cloud-controller-manager-daemonset.yaml#L31 and https://github.com/kubernetes/cloud-provider-aws/blob/master/charts/aws-cloud-controller-manager/values.yaml#L8 refer to `v1.21.0-alpha.0`, which doesn't seem to exist: https://console.cloud.google.com/gcr/images/k8s-staging-provider-aws/GLOBAL/cloud-controller-manager?gc

[2021-08-03 21:25] johnsca commented on #231
It looks like they forgot a tag on [the image](https://console.cloud.google.com/gcr/images/k8s-staging-provider-aws/GLOBAL/cloud-controller-manager@sha256:30fc096f4a4609cb5f6c66c70856d59403ab8b396c1e90c78801db3b78ddcc8d/details?tab=info) and you could change it to use `v20210510-v1.21.0-alpha.0` instead. That definitely should be fixed, though.

[2021-08-03 21:30] johnsca commented on #231
#245 would fix the manifest, at least. The image tag should probably also be added.

[2021-08-05 10:20] krish7919 commented on #51
Bump?

[2021-08-05 13:59] zodiac403 commented on #239
I experience comparable behavior on AWS. Any info if this is a bug in k8s or we as users miss a step in the set up?

[2021-08-08 05:50] olemarkus opened #246 "Implement IPAM controller that assigns AWS IPv6 prefixes to Nodes."
**What would you like to be added**:

In short: a controller that can assign an AWS-provided IPv6 prefix to a Node's spec.podCIDR/podCIDRs.

**Why is this needed**:

AWS recently launched a feature that allows a /80 ipv6 prefix to be assigned to an interface. This was specifically created for "container orchestrators".

Most CNIs can use the Node's podCIDR to determine what CIDRs to allocate IPs f

[2021-08-09 14:49] ialidzhikov opened #247 "`--version` flag is broken"
/kind bug
/sig cloud-provider

**What happened**:

`--version` flag does not report the correct component version.

Ref kubernetes/cloud-provider#49.

**What you expected to happen**:

`--version` to report the correct component version.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Environment**:
aws-cloud-controller-manager version: eb0af203d93d28efea721d38ca897b3

[2021-08-11 02:58] hakman commented on #246
This would be pretty cool to get as part of AWS CCM and not just for IPv6, but also for the IPv4 /28 prefixes.

[2021-08-11 07:15] olemarkus commented on #246
For /28 to be useful, we probably have to add as many interfaces as we can. /28 is only 14 IPs and Pod density tends to be higher.

If multiple interfaces is in play, I think we also need to add some routing rules that ensures the traffic from CNI interfaces are routed out through the correct ENI.

[2021-08-11 08:07] Kyslik commented on #113
We are experiencing the same thing :(. Changing/updating `service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags` on service is not updating tags of NLB on EKS 1.19.

[2021-08-14 10:32] olemarkus commented on #219
/remove-lifecycle stale

[2021-08-17 01:10] elgamal2020 commented on #244
Same issue , I corrected the tag to the daemonset to v20210510-v1.21.0-alpha.0

[2021-08-17 19:29] some-things opened #249 "Arbitrary subnet selection can lead to inability to sync LoadBalancer"
**What happened**:
When adding subnets to a VPC and tagging them with the proper tags for AWS cloud provider integration, once the controller manager attempted to reconcile the LoadBalancer, it began to try to remove the ELB from its existing subnet(s).

[code]

This appears to be due to arbitrary lexicographic selection of subnets: https://github.com/kubernetes/cloud-provider-aws/blob/release-1.2

[2021-08-18 21:05] andrewsykim commented on #63
/reopen

[2021-08-20 16:29] nckturner commented on #249
/assign @kishorj

[2021-08-20 16:30] nckturner commented on #249
It sounds like currently we edit subnets for a AZ, when we should probably leave the ELB alone if it already has subnet selected for that AZ.

[2021-08-20 16:32] nckturner commented on #244
/assign @nckturner

[2021-08-20 16:33] nckturner commented on #220
/remove-lifecycle stale

[2021-08-20 16:34] nckturner commented on #220
This seems like a reasonable feature -- also should be a relatively easy change so if anyone would like to contribute this we would be happy to accept it!

[2021-08-20 16:35] nckturner commented on #208
/remove-lifecycle stale

[2021-08-20 16:40] nckturner commented on #208
So is the issue with CCM and a service of type load balancer?  You've also provided information about the ingress resource, but I'm not sure how that fits into the picture.

[2021-08-20 16:41] nckturner commented on #219
/assign

[2021-08-20 16:43] nckturner commented on #113
/assign

Will check if this needs to be cherry-picked from upstream.

[2021-08-23 17:52] wcurry opened #252 "controller-manager stuck applying old over-quota LB config"
#### What happened:

Customer with a Service type LB added more than 50 CIDRs to their `loadBalancerSourceRanges`. Our account quota is 100 rules per Security Group. The over-quota error didn't appear in the service's events as expected. I found controller-manager logs of the failed calls.

When the user brought their CIDR count back down below 50 and applied the manifest, the LB was not updated a

[2021-08-25 23:27] nckturner opened #254 "Cherry pick #101592"
Cherry pick https://github.com/kubernetes/kubernetes/pull/101592:

[2021-08-25 23:31] nckturner opened #255 "Cherry pick #102927"
Cherry pick https://github.com/kubernetes/kubernetes/pull/102927:

[2021-08-26 04:25] elgamal2020 opened #258 "Enabling the aws cloud provider"
**What happened**:
Hello,

I am trying to enable the AWS cloud provider using the documentation "not enough detailed"
My system is installed via kubespray without cloud provider

then , I did the following

1) adding --cloud-provider=external to both static pods of kube-api and the controller

[code]

2) adding it to kubelet

kubelet.env:--cloud-provider=external \

3) applied the manifest , with

[2021-08-26 20:30] #254 closed, assigned to nobody

[2021-08-26 21:50] #255 closed, assigned to nobody

[2021-08-26 23:03] nckturner opened #260 "Cherry pick #104368"
Cherry pick https://github.com/kubernetes/kubernetes/pull/104368:

[2021-08-26 23:23] #260 closed, assigned to nobody

[2021-08-31 14:16] Ankitasw opened #262 "Add node affinity rules for the cloud controller manager"
**What would you like to be added**:
Add the node affinity rules in the cloud controller manager.

**Why is this needed**:
After installing the cloud controller manager on AWS cluster, we want the cloud controller pinned to the control plane nodes.
In https://github.com/kubernetes-sigs/cluster-api-provider-aws, we only provision control plane nodes with an IAM role with the cloud controller permis

[2021-08-31 14:24] YYashwanth opened #263 "Kube-system resources got deleted by Garbage Collector"
Hello,

I am using AWS EKS 1.16 and all the corresponding EKS 1.16 components. Everything was working perfectly fine until this afternoon when the garbage collector started deleting the resources in the kube-system namespace.

![image](https://user-images.githubusercontent.com/24538941/131519696-cf100051-c7ae-4844-b4bf-32ee3fbf09ef.png)

As you can see in the above screenshot, the events are repea

[2021-09-02 23:39] nckturner commented on #258
Is this running on an EC2 instance?  Does the EC2 instance use an instance role with the permission set recommended [here](https://cloud-provider-aws.sigs.k8s.io/prerequisites/#iam-policies)?

[2021-09-03 14:00] ozlotusflare commented on #235
Hey @nckturner
could you, please, take a look ?

[2021-09-03 18:28] StevenCaswellVR opened #264 "Cannot enable access logs to S3 bucket with prefix using service annotations"
**What happened**:
I am trying to create an NGINX Ingress Controller (https://kubernetes.github.io/ingress-nginx) with service annotations to enable writing access logs to S3. The service remains in pending status while a describe of the service shows the following error (multiple occurrences):
[code]
The bucket in question has this bucket policy:
[code]
**What you expected to happen**:
A classic

[2021-09-04 07:39] probepark commented on #80
Any update?

[2021-09-07 17:06] elgamal2020 commented on #258
Thanks @nckturner  Yes , there are enabled

[2021-09-08 22:17] #228 closed

[2021-09-09 12:09] rifelpet opened #269 "Classic ELB reconciliation requires unfiltered DescribeInstances call"
**What happened**:

The Classic ELB reconciliation code uses ec2.DescribeInstances to find all relevant instance IDs that should be added to the Classic ELB:

`findInstancesForELB` calls `describeAllInstancesCached` which calls `describeAllInstancesUncached` which calls `describeInstances`

https://github.com/kubernetes/cloud-provider-aws/blob/954bbd1f9b5ef824d1783b3e0ee8672061a3b052/pkg/providers

[2021-09-09 13:09] randomvariable commented on #269
This is fair, but we will require fall back code if ResourceGroupTagging API is used since it's not available as a VPC endpoint, which affects airgapped scenarios (particularly GovCloud and Secret regions).

[2021-09-09 13:27] rifelpet commented on #269
After some investigation, I believe ResourceGroupTagging has the same limitation on not being able to filter on the union of two tag keys, so we might as well stick with DescribeInstances to avoid the VPC Endpoint limitation and IAM policy changes required for RGT.

We could call DescribeInstances twice, one for `kubernetes.io/cluster/` and one for `KubernetesCluster` but that seems a bit redundan

[2021-09-09 20:34] EvgeniGordeev opened #270 "EKS 1.21 Service type=LoadBalancer does not support ServiceAppProtocol"
`ServiceAppProtocol` is supposed to be `stable` in [1.20+](https://kubernetes.io/docs/concepts/services-networking/service/#application-protocol).

**Scenario**:

Applying

[code]

creates a Classic LB with the following listeners:
![image](https://user-images.githubusercontent.com/3843966/132758263-57a8d5bd-e75b-49ae-b312-e5c6b1216d7b.png)

If `service.beta.kubernetes.io/aws-load-balancer-backend

[2021-09-10 19:26] randomvariable commented on #269
i had completely forgotten about this. Let's create a new issue for this. FIltering only on the latter is reasonable.

[2021-09-10 19:34] rifelpet opened #271 "Deprecate and remove support of the KubernetesCluster tag"
The `KubernetesCluster` tag is considered "legacy" and is replaced by the more-flexible `kubernetes.io/cluster/<clustername>` tag:

https://github.com/kubernetes/cloud-provider-aws/blob/58bc609b9f79e1283b8896011f1590691604b2aa/pkg/providers/v1/tags.go#L30-L39

We should adopt a timeline for a formal deprecation and removal of any use of `KubernetesCluster`.

/kind deprecation

[2021-09-14 10:09] janarthanandev commented on #88
is there any update

[2021-09-14 18:57] voor commented on #124
/remove-lifecycle stale

[2021-09-18 18:10] tareqhs opened #275 "TargetGroupNotFound error when a new target group is created"
**What happened**:

A new LB target group is being created by the provider. The target group is created successfully but immediately after that the call for adding tags to the target group fails with error code `TargetGroupNotFound`:

Apparently the reason is that target group are not immediately available for operations and might take a while to be ready.

**What you expected to happen**:

The co

[2021-09-21 17:09] #198 closed

[2021-09-27 16:51] kishorj commented on #206
/remove-lifecycle rotten

[2021-09-27 18:15] #184 closed

[2021-09-27 20:08] ostrain commented on #203
/reopen

[2021-09-27 20:10] ostrain commented on #203
As a user, I'm confused by this. I don't understand the relationship between cloud-provider-aws and aws-load-balancer-controller. Does the latter depend on the former, while providing an alternative implementation of NLB orchestration? How should they be used together?

[2021-09-28 15:52] kishorj commented on #87
/remove-lifecycle stale

[2021-09-29 15:03] nckturner commented on #271
Agreed.  It has already been deprecated, so I think we can drop it in the next minor version release.

[2021-09-29 15:05] nckturner commented on #271
The safer alternative, if we think this tag is still being used, is to amplify the existing deprecation messages for a release or two, and then drop it.

[2021-09-29 15:09] nckturner commented on #271
Alas, I thought there was a deprecation log message, but I can't find one... only the comment you linked.  Looks like we will need to add one and determine a schedule, as you mentioned.

[2021-09-29 18:52] nckturner commented on #203
/reopen

Essentially cloud-provider-aws is a copy of the in-tree cloud provider, which has the original code for provisioning classic load balancers and NLBs for services of type `LoadBalancer`. Cloud-provider-aws supports instance target type for NLBs.

The AWS load balancer controller is a more recent controller, which can provision ALBs for ingress resources, and NLBs for services of type `Load

[2021-09-29 18:52] nckturner commented on #203
/remove-lifecycle rotten

[2021-09-29 20:45] #235 closed

[2021-10-01 23:03] #213 closed

[2021-10-07 19:27] treksler commented on #80
How do you add the additional NLB certs via an nginx-ingress controller init container? aws cli? curious to try this workaround. do you have an example?

also, can this issue be reopened?
it may become critical for me to be able to associate multiple acm certs with an NLB via nginx ingress annotations.

also interested in other workarounds people are using. one cert with tons of subject alternate

[2021-10-11 00:41] #217 closed

[2021-10-16 20:50] giorgosdi commented on #220
I can give this a go. Could i have some guidance on how to actually test that it works ? i.e can i use minikube or kind ?

[2021-10-19 08:59] #264 closed

[2021-10-21 00:17] austintackaberry opened #280 "NodeWithImpairedVolumes taint applied when volume attach error is recoverable"
**What happened**:
`nodeWithImpairedVolumes` taint is applied to a node with the assumption that it is not recoverable, but the disk attaches correctly on the 2nd try right after the taint is applied. This results in the taint unnecessarily preventing pods from being scheduled on the node until the taint is manually removed.

**What you expected to happen**:
Taint to only be applied if error is tr

[2021-10-27 12:14] jackivanov opened #281 "Add support for ELB session stickiness"
**What would you like to be added**:
Annotation to enable ELB session stickiness

**Why is this needed**:
For applications that require cookie based sticky sessions

https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html

/kind feature

[2021-10-28 21:04] chaospuppy opened #282 "Remove hard requirement that hostname matches ecrPattern"
**What would you like to be added**:
A flag used with the `ecr-credential-provider` binary that would specify the desired AWS ecr registry hostname to have credentials retrieved for.  Setting this flag would also disable the [regex comparison](https://github.com/kubernetes/cloud-provider-aws/blob/94ab99f0db55f0f8d708c1b999fbdbaf1c405b24/cmd/ecr-credential-provider/main.go#L145) against the parsed

[2021-10-30 22:41] chaospuppy commented on #282
Having [forked](https://github.com/chaospuppy/cloud-provider-aws) this repo to test out my proposed change, it does seem as though this hard requirement would still be in place until the [in-tree](https://github.com/kubernetes/kubernetes/blob/08bf54678e2bef8b4c72c8c6d104b0bdf19a6f75/pkg/credentialprovider/aws/aws_credentials.go#L257) credential provider code that performs the same checks validatio

[2021-10-31 14:08] #229 closed

[2021-11-01 14:54] jaypipes commented on #281
Hi @jackivanov :) I didn't realize you needed TCP-based sticky sessions from your original post.

I found these Q&As in the AWS Elastic Load Balancing [FAQ](https://aws.amazon.com/elasticloadbalancing/faqs/):

Which are the clearest signal I could find about switching away from CLB -> ALB/NLB.

May I ask if you are using TCP sticky sessions due to using websockets? If that is the case, you can con

[2021-11-01 16:53] jackivanov commented on #281
@jaypipes oh sorry for the confusion, we need sticky sessions for HTTP. We have an application that exposes 2 protocols - http and tcp. We need sticky sessions for HTTP only, because it's required by the application. Sticky sessions for http can be configured on a Classic ELB, meanwhile having another port in the TCP mode. Neither ALB nor NLB provides this functionality unfortunately, so there's n

[2021-11-04 17:52] #232 closed

[2021-11-05 02:19] julienperignon commented on #203
Jumping on this thread because I was in the same scenario of not understand who's responsible of what.
Is there a way to disable the in-tree controller and let the aws-controller create NLB for target type = instance ?

Cheers

[2021-11-05 02:20] julienperignon commented on #203
Jumping on this thread because I was in the same scenario of not understand who's responsible of what.
Is there a way to disable the in-tree controller and let the aws-controller create NLB for target type = instance ?

Cheers

[2021-11-07 15:04] ialidzhikov commented on #247
/remove-lifecycle stale

[2021-11-09 20:21] nckturner opened #284 "Set up exponential backoff, retry and limits on AWS STS calls"
Migrating https://github.com/kubernetes/kubernetes/issues/99328 from K/K:

[2021-11-13 11:31] #88 closed

[2021-11-21 00:40] #72 closed

[2021-11-24 08:32] johngmyers opened #285 "Node controller fails to get provider ID for instance with Resource Based Name"
**What happened**:

Repeated logging of:

[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kops/12824/pull-kops-e2e-ipv6-calico/1463403038826827776/artifacts/cluster-info/kube-system/aws-cloud-controller-manager-xdmv9/logs.txt

**What you expected to happen**:

Node to be assigned a ProviderID.

**How to reproduce it (as minimally and precisely as possible)**:

Have kubelet r

[2021-11-25 13:20] bartoszcisek commented on #113
/remove-lifecycle stale

[2021-11-29 22:53] chaospuppy commented on #282
@justinsb in case it is of interest to this team, I created a [webhook](https://github.com/chaospuppy/imageswap) that can be used to perform image hostname transformations, which allows for the utilization of the ecr-credential-provider plugin without the need to sanitize `image:` values before applying manifests.

[2021-11-30 19:05] #285 closed

[2021-12-03 01:34] rifelpet opened #288 "ARM64 Support"
**What would you like to be added**:
As the migration to external CCM progresses, kOps' support for ARM clusters now depends on ARM images of the AWS CCM.

Current builds are amd64 only based on [this daemonset manifest](https://storage.googleapis.com/kubernetes-jenkins/logs/e2e-kops-aws-misc-arm64-ci/1466474913605881856/artifacts/cluster-info/kube-system/daemonsets.yaml) and [these pod logs](http

[2021-12-03 14:57] rifelpet commented on #288
dupe of https://github.com/kubernetes/cloud-provider-aws/issues/219
/close

[2021-12-03 14:58] #288 closed

[2021-12-05 10:26] olemarkus commented on #219
/remove-lifecycle stale

As kOps is migrating towards using external CCMs, this has become quite important. AWS external CCM is enabled by default as of Kubernetes 1.24 (i.e our master branches) and the moment, all our arm tests are failing.

[2021-12-07 15:26] #219 closed

[2021-12-09 09:04] hakman commented on #246
/remove-lifecycle rotten

[2021-12-10 14:41] Ankitasw commented on #262
/priority ?

[2021-12-10 16:11] loliveiracodacy commented on #113
We're having a similar issue with 1.19 and clb.

First time the tags are applied correctly , but any further modifications are not synched to the load balancer, even though they are properly updated within the cluster resources (service and/or ingress).

[2021-12-12 01:29] johngmyers opened #294 "Cut release for 1.23"
**What would you like to be added**:

Please cut a release for use with Kubernetes 1.23.

**Why is this needed**:

Kubernetes 1.23.0 has been released. Users should have a fixed tag for pulling a corresponding AWS CCM.

/kind feature

[2021-12-12 19:36] ialidzhikov commented on #294
/priority important-soon
/sig cloud-provider
/area provider-aws

[2021-12-12 19:37] ialidzhikov commented on #294
/area provider/aws

[2021-12-20 19:05] #195 closed

[2021-12-20 19:05] #234 closed

[2021-12-23 10:34] #110 closed

[2021-12-23 10:48] olemarkus commented on #110
I just saw this one. It's an interesting topic.
As `node-role.kubernetes.io/X=` and `kubernetes.io/role=X` was specifically mentioned, I'd like to point out that these labels are owned by the Kubernetes Installer. So e.g on kOps clusters, these labels are owned by the `kops-controller`. And kOps indeed supports the feature described here. If CCM were to implement support for this, it could get int

[2021-12-26 11:11] #243 closed

[2021-12-26 23:16] #187 closed

[2021-12-28 21:52] wongma7 opened #296 "Add healthz/livez"
**What happened**: there is no healthz/livez endpoint to scrape/hit for metrics/configuring a livenessProbe

**What you expected to happen**: there should be a healthz/livez endpoint plus example of livenessProbe https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/ in the example daemonset

**How to reproduce it (as minimally and precisely as possib

[2021-12-31 21:54] #231 closed

[2022-01-02 15:12] #239 closed

[2022-01-06 17:22] gtskaushik commented on #80
Please re-open this issue

[2022-01-09 12:05] roitalpaz commented on #124
is this working?

[2022-01-16 06:06] olemarkus commented on #220
Can you check if #293 solves your issue?

[2022-01-16 07:54] YYashwanth commented on #220
@olemarkus thanks for the MR. I will check this out tomorrow and get back to you asap.

[2022-01-17 17:48] #208 closed

[2022-01-17 17:48] #244 closed

[2022-01-25 10:21] ialidzhikov commented on #294
@nckturner , why all releases are marked as alpha? Do we have ETA for a stable release of cloud-provider-aws?
For reference, cloud-provider-azure has stable/GA releases since a long time - ref https://github.com/kubernetes-sigs/cloud-provider-azure#current-status.

[2022-01-26 18:10] rifelpet opened #300 "Support Availability Zone ID topology labels"
**What would you like to be added**:
Currently AWS CCM populates the `topology.kubernetes.io/region` and `topology.kubernetes.io/zone` node labels with the node's region and AZ name respectively:

[code]

It would be useful to include a topology label for AZ IDs. `topology.kubernetes.io/zone-id` or something along those lines. Only the original two labels [are standard in the k/k API](https://gith

[2022-01-26 18:26] olemarkus commented on #300
Yes please! We have the exact same need.

[2022-01-26 18:33] olemarkus commented on #300
Actually, I wonder if not the zone label could change to using zone IDs. I think the transition should be fairly painless as the new CCM leader would just patch all existing nodes.

[2022-01-26 18:40] rifelpet commented on #300
If we reuse the `zone` topology label then there may be strange behavior of pod topology spread constraints during the upgrade process when nodes have a mismatch of zone IDs and zone names.

Its common for zonal deployments to use nodeAffinity on specific `zone` label values, so updating the `label` value in place would break their scheduling as well.

[2022-01-26 18:42] olemarkus commented on #300
Spread constraints is only evaluated during scheduling, so this shouldn't be affected.

But nodeAffinity on a given zone label can cause problems, I suppose.

[2022-01-28 02:28] abubyr opened #301 "Target group has empty instances list after creation"
**What happened**: When creating k8s service with **service.beta.kubernetes.io/aws-load-balancer-type: nlb** , we constantly get an empty list target group

**What you expected to happen**: instances are registered in the target group just as part of target group creation process

**How to reproduce it (as minimally and precisely as possible)**:
Create a pod and service like
[code]

**Anything els

[2022-01-28 16:05] #263 closed

[2022-02-04 17:30] rifelpet commented on #300
An alternative AWS-specific label could be `topology.k8s.aws/zone-id`

[2022-02-05 15:25] ialidzhikov commented on #247
/remove-lifecycle stale

[2022-02-06 21:20] #270 closed

[2022-02-07 21:25] #269 closed

[2022-02-08 15:34] #262 closed

[2022-02-10 07:40] Spritekin commented on #80
Please reopen.

[2022-02-10 16:02] gangstead commented on #80
I ended up fixing this by installing the AWS Load Balancer Controller on my EKS clusters (and specifying `service.beta.kubernetes.io/aws-load-balancer-type: nlb-ip`).  The controller properly handles multiple ssl certs in the annotation.

[2022-02-10 18:04] izinovik commented on #113
I'm deploying NGINX using custom Helm chart via terraform:
[code]

[2022-02-15 18:55] #275 closed

[2022-02-16 21:38] rifelpet commented on #300
sig-cloud-provider agreed to use an AWS-specific label and/or the ability to configure CCM to use the zone ID in the `topology.kubernetes.io/zone` label

[2022-02-17 16:18] andrewsykim commented on #300
My only caution to using zone-id in `topology.kubernetes.io/zone` is that it could negatively impact portability of deployments across different AWS accounts.

[2022-02-17 18:38] olemarkus commented on #300
E.g EBS CSI drivers use topology keys and changing the convention on a live cluster may cause problems with PVs. So I think the safer route is to add new labels for now. I'd really like zone to use zone-ids, but it seems like too many things may break over it.

[2022-02-17 22:33] saurav-agarwalla opened #306 "Add support for tagging EC2 instances/nodes (and other AWS resources) which are a part of the cluster"
**What would you like to be added**:

Support for tagging EC2 instances and other AWS resources which are created/used as part of the cluster. We can make this optional by providing a flag using which customers of AWS Cloud Provider can enable or disable this feature.

**Why is this needed**:

A lot of EKS customers today (and I am sure other customers running Kubernetes on AWS) want to tag all th

[2022-02-18 00:02] kishorj commented on #90
The ability to disable SG rules for NLB is available in aws-load-balancer-controller:v2.4.0, for more details -  https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.4.0

[2022-02-18 17:15] justinsb commented on #306
I think this is a good idea, particularly if it is optional.  We do have a cluster-tag for resources that KCM/CCM creates (volumes, load balancers).

One thing we should consider is how nodes join the cluster; we want to avoid a circular dependency here where they can't join the cluster without a tag but the tag is added by this mechanism.  We also want to not subvert the security mechanisms, but

[2022-02-18 21:22] nckturner commented on #306
I assume the concern is about the case where we are using this mechanism to tag the nodes with the `kubernetes.io/cluster/clustername=owned` tag which is used by the CCM to filter ec2 instances.  So how would the ccm tag the nodes or know which nodes to tag if its missing the tag that it normally uses to find ec2 instances in the first place? If we were to replace that tag or intend for it to be s

[2022-02-19 06:12] olemarkus commented on #306
My $0.02 would be:
* CCM doesn't "own" instances and its tags. Installers expect to, and one can easily get into conflicts here. At least for kOps this would be problematic. CCM doesn't create or otherwise change instances (or launch templates), so I think the boundaries are clear. I am fairly sure at least Karpenter users will run into conflicts here as well.
* For resouces like volumes and load

[2022-02-19 06:43] nckturner commented on #306
Yeah I think the primary use case we are trying to solve with this is when users want to label all Kubernetes adjacent AWS resources for cost allocation. We can default to some kind of namespace prefix for the tag names to avoid conflicts.  I think we don't touch the existing cluster tag, this would only be an additional tag or set of tags that users would define, and this would be in a separate c

[2022-02-19 06:44] nckturner commented on #306
cc @ellistarn thoughts on the relationship with Karpenter?

[2022-02-19 07:06] nckturner commented on #306
Very good question.  My statement may have been hyperbolic, I think initially the proposal is to only tag EC2 instances, and the solution should be extensible to at least include load balancers and volumes.  Not sure what else users might be interested in tagging.  When it comes to resources that it does not provision, and I'm primarily thinking of CSI/AWS-LBC here--I think it makes sense to allow

[2022-02-19 07:18] olemarkus commented on #306
I am fairly sure LBC reconciles tags. So there will definitely be conflicts there unless they also implement support for ignoring the CCM prefix. Perhaps the controller should take in a list of AWS resources to tag.

I know some kops users have organisation-wide tag policies that enforce tag on create, so it was those I had in mind. These may or may not be cost tags.

Come to think of it, EBS driv

[2022-02-19 07:26] olemarkus commented on #306
Ah nevermind the last one. The challenge there was with per volume tags, not global tags. But the reconciliations issue is even more complex with per resource tags in the mix as well.

[2022-02-19 18:25] ellistarn commented on #306
In the limit, this tag should be optional. It's pretty restrictive that nodes joining the cluster must be in the same account, and be tagged correctly.

Karpenter currently has a tagging mechanism: https://github.com/aws/karpenter/blob/main/pkg/cloudprovider/aws/apis/v1alpha1/provider.go#L63

We do as much as we can to avoid knowing `ClusterName` since it creates so much pain for us. We never desc

[2022-02-19 18:41] olemarkus commented on #306
This functionality is also mentioned here:
https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2430#issuecomment-1002325089

But I think this is a separate issue.

[2022-02-22 06:11] saurav-agarwalla commented on #306
Thank you all for the feedback. I see that @nckturner has responded to most of them but I just want to point out that we want to keep this separate from the current tags that CCM applies. The idea is to let this run as a separate controller with a separate set of tags (which would likely be configurable and might be passed as a CLI flag) and apply to all AWS resources associated with a cluster (al

[2022-02-22 06:32] olemarkus commented on #306
What is the reason for focusing on EC2 first? Can't this more easily be handled by launch templates?

Also, do you see this controller only trying to add tags, and then only try once?

Just trying to understand how this can work alongside other controllers that own tags (and may try to remove tags they don't know about).

We (as in employer) are also after custom cost tags, but EC2 can already be

[2022-02-22 06:56] olemarkus commented on #306
With my kOps hat on, I think we can easily support this as we'll send the global tags to both CCM and all addons. So any other controller that may try to reconcile would try to reconcile the same set of tags.

[2022-02-22 09:21] mimmus opened #307 "Assign private IP addresses to an internal NLB"
**What would you like to be added**:
Only annotation to specify EIP allocations for an external NLB is available:

// ServiceAnnotationLoadBalancerEIPAllocations is the annotation used on the
// service to specify a comma separated list of EIP allocations to use as
// static IP addresses for the NLB. Only supported on elbv2 (NLB)
const ServiceAnnotationLoadBalancerEIPAllocations = "service.beta.ku

[2022-02-22 09:31] mimmus commented on #307
Also:
https://github.com/kubernetes/cloud-provider-aws/issues/108

[2022-02-22 09:34] mimmus commented on #187
How could I use it?
Is there any chance to see it in classic Nginx controller?

[2022-02-23 17:47] sftim commented on #300
Reposting from https://github.com/aws/containers-roadmap/issues/1638#issuecomment-1049045011

`topology.kubernetes.io/zone-id` is **not** [registered](https://kubernetes.io/docs/reference/labels-annotations-taints/) as a Kubernetes label key. To report an AWS-specific detail, I recommend minting one or two new label keys. For example:
- `kubernetes.amazonaws.example/availability-zone: us-east-1a`

[2022-02-23 17:49] sftim commented on #300
`topology.k8s.aws/zone-id` is also fine as a label key; I hadn't seen that before.

[2022-02-23 17:52] sftim commented on #203
@julienperignon

I recommend also filing this via https://github.com/aws/containers-roadmap/issues/new/choose

[2022-02-23 17:54] sftim commented on #33
Is it feasible to enable this improved security initially for clusters created after a flag date, and then document a mechanism to switch the cluster to the new security model?

[2022-02-24 17:28] #206 closed

[2022-02-24 21:02] saurav-agarwalla commented on #306
It can but tagging EC2 instances uniformly is one of the biggest pain points for our customers today - not all of them use LT - some of them use Managed Nodes, some use self-managed nodes and some use their own AMIs too. We're trying to make sure that all of them can benefit from this.

We may want to try reconciling this on every node event but nothing more frequent at this time (we'd expect the

[2022-02-24 21:47] ellistarn commented on #306
Do we know where the node tagging requirement comes from? Why is it necessary for an instance to be tagged to a cluster? Shouldn't the fact that it's configured to talk to the cluster be enough?

[2022-02-25 05:38] olemarkus commented on #306
@saurav-agarwalla AWS load balancer controller would be one example:
https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/df6d2da9af7af342d9968165119d84d4352fc51d/pkg/deploy/ec2/tagging_manager.go

As I understand it, it will remove all tags it doesn't know about and that it hasn't explicitly been told to ignore from ELBs.

I see the challenge here a little bit differently. A contr

[2022-02-25 16:42] #87 closed

[2022-02-28 18:33] saurav-agarwalla commented on #306
Cost allocation is the biggest driver for this change but I am not a 100% sure about the tagging requirement for a node to join the cluster and if there was a particular reason for it to be that way. @nckturner might know more about this.

[2022-02-28 18:41] saurav-agarwalla commented on #306
This is an interesting case. I didn't really expect a controller to remove tags it doesn't know about but we'll probably need to solve this somehow when we get to supporting tags on LBs.

In the EKS case at least, these tags aren't meant to be configurable (at least for now). We want to tag these resources with a fixed prefix and cluster name so that all customers can rely on that tag for cost all

[2022-03-02 12:53] olemarkus commented on #306
Thanks. It clarifies what you want to achieve here. It may be a bit EKS specific and perhaps not entirely fitting as a CCM controller, but I can appreciate the usefulness of having it here.

[2022-03-03 03:10] nckturner commented on #218
/remove-lifecycle rotten

[2022-03-07 19:14] #247 closed

[2022-03-12 06:57] olemarkus commented on #246
AWS went a different way by implementing this in their CNI instead. So this controller now exists as part of kops-controller for those using kOps.

[2022-03-17 09:20] #220 closed

[2022-03-17 10:07] olemarkus commented on #220
I guess the linked PR worked :)

[2022-03-17 18:13] wongma7 opened #318 "Instance IDs as node names causes route controller to spam create/delete route"
**What happened**:

in kops 1.23 if external CCM is enabled nodes are created with instance ID.
- this breaks listroutes which assumes nodenames are privateDNS https://github.com/kubernetes/cloud-provider-aws/blob/58bc609b9f79e1283b8896011f1590691604b2aa/pkg/providers/v1/aws_routes.go#L70
- this may break checkIfAttachedToNode which also calls mapInstanceToNodeName https://github.com/kubernetes/cl

[2022-03-19 00:02] wongma7 commented on #63
/reopen

[2022-03-19 00:02] wongma7 commented on #63
/remove-lifecycle rotten

[2022-03-19 00:17] nckturner commented on #63
/triage accepted

[2022-03-19 00:53] wongma7 commented on #63
as of 1.23 alpha node names being equal to instance id is allowed by patch https://github.com/kubernetes/cloud-provider-aws/pull/286 which changed internal implementation  of
`func (c *Cloud) InstanceID(ctx context.Context, nodeName types.NodeName) (string, error) {`

Basically with in-tree cloudprovider the node name was restricted to privateDNS because that is what `CurrentNodeName ` returned.

[2022-03-19 00:54] wongma7 commented on #63
however the assumption that private dns == node name is deeply embedded in the v1 impelmentation (e.g. we found bug in route controller where breaking this assumption leads to spammed aws api requests which is obviously a bug ) https://github.com/kubernetes/cloud-provider-aws/pull/319 so it's not trivial to extend support for more node names, it needs lots of testing.

[2022-03-26 14:57] #258 closed

[2022-03-28 17:15] #280 closed

[2022-03-29 06:04] wongma7 commented on #296
I lied, CCM exposes healthz https 10258

[2022-03-29 06:04] #296 closed

[2022-03-29 07:00] fredgate commented on #184
/reopen
Problem is still present.
What is the right way to automate this without manual intervention?

[2022-03-30 01:57] nguyenkndinh opened #325 "Add support for e2e test and non-retryable error in the tagging controller"
**What would you like to be added**:
- Add e2e testing for tagging controller.
- Currently, all work items with errors from EC2 regarding tagging and untagging would be requeue to the workqueue. We would like to only requeue on transient errors.
Ref: https://github.com/kubernetes/cloud-provider-aws/pull/308#issuecomment-1082533927

**Why is this needed**:
- To have a comprehensive testing suite
-

[2022-03-30 10:59] sykim-etri commented on #258
I have similar problem.

I think I should pass my credential to the aws-cloud-controller-manager.
However I don't know how to pass the credential.

my log is as follows:

[code]

[2022-03-30 10:59] sykim-etri commented on #258
/reopen

[2022-03-31 17:47] #281 closed

[2022-04-01 03:14] bhumijgupta opened #326 "Documentation missing for annotation `service.beta.kubernetes.io/aws-load-balancer-security-groups`"
**What would you like to be added**:
In the docs for the controller (https://cloud-provider-aws.sigs.k8s.io/service_controller/), I cannot find the documentation for annotation `service.beta.kubernetes.io/aws-load-balancer-security-groups` but I see it being supported and used in the code

**Why is this needed**:
I was looking for this functionality and could not find it in the doc, I had to go th

[2022-04-01 21:33] jkroepke opened #327 "helm chart: Using IRSA for cloud-provider-aws"
**What would you like to be added**:

Hi, I would like to discuss if its useful to use [IRSA](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) instead Instance profiles cloud-provider-aws. I would like reduce the permissions of an instance profile to an absolute minimum and use dedicated roles for each component.

In case this make sense, I can do a pull reques

[2022-04-02 09:49] olemarkus commented on #327
The DaemonSet will only run on the control plane by default. It shouldn't run on worker nodes at all.
E.g kOps will run CCM using IRSA, so this works as expected already.

The only thing needed is to configure volumes/env variables on the the Pods. Alternatively annotate the ServiceAccount if you use the Pod Identity Webhook.

[2022-04-02 10:21] jkroepke commented on #327
What about the credential helper?

https://cloud-provider-aws.sigs.k8s.io/credential_provider/

I thought, it needs to be run on workers, too.

[2022-04-02 10:31] olemarkus commented on #327
Credential helper is not a container. It must be installed as an executable on each node directly.

[2022-04-05 08:31] #327 closed

[2022-04-06 00:10] jkroepke opened #335 "getInstanceByNodeName failed if RBN based node name are used"
**What happened**:

Tons of logs like

[code]

**What you expected to happen**:

node lifecycle controller works fine.

**How to reproduce it (as minimally and precisely as possible)**:

Have a cluster which is using FQDN RBN names:

[code]

**Anything else we need to know?**:

Support for RBN names are introduced in https://github.com/kubernetes/cloud-provider-aws/pull/286 . Looks like it only wo

[2022-04-06 00:17] jkroepke commented on #335
https://github.com/kubernetes/cloud-provider-aws/pull/286 describes this well:

But why all relevant k8s components need set --hostname-override? Whats wrong with the domain suffix/default configuration?

[2022-04-06 04:38] olemarkus commented on #335
The default is the output of `hostname` (i.e the `os.Hostname()` call).
If you end up with FQDN by default, it may be that you are setting `--cloud-provider aws` on the components rather than `--cloud-provider external`.

[2022-04-06 06:48] jkroepke commented on #335
Hi @olemarkus ,

it‘s an fresh self-hosted vanilla Kubernetes 1.23.5 cluster. I‘m using TLS Bootstraping on my kubelets.

The deprecated flag --cloud-provider=external is set on all components as documented here (https://cloud-provider-aws.sigs.k8s.io/getting_started/), but on initial TLS bootstrap, the CCM is not availible.

How CCM is responsible for a node name here, if kubelet will choice one

[2022-04-06 09:33] olemarkus commented on #335
CCM is not responsible for the nodename, but CCM has to be able to infer the AWS instance from the nodename. That can be done by either using the old IP-based naming, which uses FQDN, or the new resource based naming, which only uses hostname.

By the looks of it, the only thing you need to do is to use only the hostname as hostname and not the FQDN. I can't say why your instances choose to use th

[2022-04-06 11:28] #335 closed

[2022-04-09 13:27] voor commented on #124
/remove-lifecycle stale

[2022-04-13 20:34] iambumblehead opened #338 "classic load balancer is not forwarding client-ip address"
Hello, I want a Service that sends client ip addresses to the connected pod.

According to [the document here,][0] Classic Load Balancer Service should add the client ip address in the "x-forwarded-for" header, however, the application running in the pod logs "x-forwarded-for" headers with internal ip-addresses such as 192.168.82.211 and 192.168.21.59.
https://docs.aws.amazon.com/elasticloadbalanc

[2022-04-18 16:09] hakman opened #339 "panic: version string "v20220409-v1.23.0" doesn't match expected regular expression"
**What happened**:
Tests fail because `aws-cloud-controller-manager` fail to start:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kops/13452/pull-kops-e2e-cni-cilium-ipv6/1516070708126420992
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Try to start `aws-cloud-controller-manager` using the latest stable image: `registry.k8

[2022-04-18 16:14] hakman commented on #339
/cc @nckturner

[2022-04-18 16:23] olemarkus commented on #339
Also related to https://github.com/kubernetes/cloud-provider-aws/pull/324

[2022-04-18 17:46] olemarkus commented on #339
/triage accepted

[2022-04-19 23:23] gueux commented on #270
Its an actual issue.
"appProtocol" service field still doesn't work with AWS Load Balancer
Any suggestion?

[2022-04-20 02:47] EvgeniGordeev commented on #270
The issue is still there - after an LB is created we run a custom script to reconfigure its listeners to the right protocol. Another issue is that even if one doesn't change a service definition the listeners might switch back to the original value - in our case we need a TCP port for SSH traffic but after applying our custom script to fix it from HTTP to TCP it keeps changing  back to HTTP withou

[2022-04-25 14:25] ialidzhikov commented on #294
/remove-lifecycle stale

[2022-04-25 16:24] kishorj commented on #203
/reopen

[2022-04-25 21:20] rduarte-mule commented on #124
/remove-lifecycle stale

[2022-04-28 02:53] jhohertz opened #341 "Incorrect YAML for kops overlay"
https://github.com/kubernetes/cloud-provider-aws/blob/cc170f77cc8baaf5c4f75bfef9c2f9ef9b17ca7a/examples/kops-new-cluster/overlays/cloud-controller-manager/cluster.yaml#L15-L16

These two lines must be removed, or the CCM will not work correctly under kops in current versions at least.

@olemarkus mentioned it to me on [slack](https://kubernetes.slack.com/archives/C3QUFP0QM/p1649702861826179?thread

[2022-04-28 17:08] nate-selzer commented on #88
/reopen

[2022-04-28 17:12] nate-selzer opened #342 "AWS NLB Deletion Protection"
**What would you like to be added:**

An annotation in the format of

service.beta.kubernetes.io/aws-load-balancer-deletion-protection: [true|false]

that will set the Deletion Protection of the ELB to True or False. (Default is False)

**Why is this needed:**

To protect the loadbalancer from accidental deletion by external sources.

See also [this PR](https://github.com/kubernetes/cloud-provider

[2022-04-29 00:32] #282 closed

[2022-05-04 09:19] yang-wang11 opened #343 "[Enhancement] specify static IPs for AWS existing Network load balancer"
I found the feature `specify static IPs for AWS Network load balancer` only available when creating a new NLB
https://github.com/kubernetes/kubernetes/blob/c1e69551be1a72f0f8db6778f20658199d3a686d/staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go#L169-L174

However, I found the AWS official document already supports `Assign Elastic IP to an existing Network Load Balancer`. see belo

[2022-05-04 17:29] nckturner commented on #343
/triage accepted

We should either keep this NLB service controller up to date, or try to deprecate it/remove it completely.  For now, I'll triage this, and mention that you should consider running https://github.com/kubernetes-sigs/aws-load-balancer-controller/ which supports NLB services, new features and is maintained actively by an EKS team.

[2022-05-05 02:20] yang-wang11 commented on #343
@nckturner thanks for the information, I found only aws have its LB controller.  :<
as you know, [serviceController](https://github.com/kubernetes/kubernetes/tree/release-1.9/pkg/controller/service) is part of `CCM`,  it is really easy to use.
I don't know whether is ok that enable `CCM` and `aws-load-balancer-controller` at the same time. is there any toggle to control whether to enable `serviceC

[2022-05-06 01:03] adammw opened #348 "ecr-credential-provider cacheDuration is incorrect"
**What happened**:
Using the ecr-credential-provider manually to test image pulling credential helper, the response included an absurdly low cacheDuration:

[code]

Time executed: 1651798875
Password expiration value: 1651839322

**What you expected to happen**:
Cache duration to be in the order of hours based on the token expiry.

**How to reproduce it (as minimally and precisely as possible)**:

[2022-05-06 14:20] rifelpet opened #349 "Node Addresses contain additional pod IPs with VPC CNI provider"
Copied from https://github.com/aws/amazon-vpc-cni-k8s/issues/1983 which I determined is a CCM issue

**What happened**:
Kops' conformance tests are now failing when using k8s 1.24 and the AWS VPC CNI:

https://testgrid.k8s.io/kops-network-plugins#kops-aws-cni-amazon-vpc

Conformance tests that exercise nodeport functionality are failing.

**Attach Logs:**
See the a job's artifacts including all po

[2022-05-06 14:22] rifelpet commented on #349
[kubelet does set an annotation with the --node-ip it is provided](https://github.com/kubernetes/kubernetes/blob/7e77252b0d5fcd3689f2f7e4a21757e53965c092/pkg/kubelet/nodestatus/setters.go#L97-L103). Fixing this might be as simple as checking for that annotation first before trying `ec2.DescribeInstances`.

[2022-05-09 01:04] rifelpet commented on #339
I tracked down the source of the version string to this:

https://github.com/kubernetes/test-infra/blob/0ed976e5a2f3007e055a84b3900b806bd17b57ee/config/jobs/image-pushing/README.md#custom-substitutions

https://github.com/kubernetes/test-infra/blob/0ed976e5a2f3007e055a84b3900b806bd17b57ee/images/builder/main.go#L95-L108

[2022-05-10 09:15] hakman commented on #339
Unfortunately this is not yet fixed by #350:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/cloud-provider-aws-push-images/1523933803632922624
[code]

[2022-05-10 11:14] istvancaluser opened #351 "AWS Fargate tags as lables in kubernetes nodes"
**What would you like to be added**: I'd like a feature where AWS Fargate tags are transferred as node labels in Kubernetes.

**Why is this needed**: We are collecting Prometheus metrics and have a few tags that identify the cluster and environment. Without these tags it's hard to point which Fargate profile is generating these metrics.

/kind feature

[2022-05-10 12:49] #339 closed

[2022-05-11 06:31] olemarkus commented on #349
It looks like the tests are passing after we managed to get the 1.24/master branch of 1.24 running again. However, checking the annotation before doing the EC2 call seems like a good idea anyway.

[2022-05-11 07:49] #246 closed

[2022-05-11 09:20] olemarkus commented on #349
Note, I can still reproduce this when testing locally. It just seems like the VPC IPs are added to node objects much slower.

[2022-05-11 11:28] rifelpet commented on #349
I haven't stepped through the code yet to see how it fits with the addresses cloud-provider-aws returns, but [this](https://github.com/kubernetes/kubernetes/pull/107750/files) leads me to believe k8s.io/cloud-provider might be checking the kubelet node annotation already.

The node addresses are updated [every 5 minutes by default](https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec

[2022-05-11 16:26] olemarkus commented on #349
Good find. This came in with the k8s bump PR I did. So it resolved itself when we started using the non-stable image.

[2022-05-18 04:09] dkeightley commented on #335
Please forgive my ignorance, but isn't the instance ID easier and more accurate to retrieve from the EC2 metadata service, instead of relying on the hostname?

Eg: `curl -s http://169.254.169.254/latest/meta-data/instance-id`

[2022-05-18 06:00] olemarkus commented on #335
When an external CCM is used, it doesn't have access to individual instance metadata as it runs as a separate pod.

[2022-05-18 07:54] #294 closed

[2022-05-19 15:05] damdo opened #384 "Node sync errors when using a custom (`domain-name` empty) AWS DHCP Option Set for the VPC"
**What happened**:
When a custom AWS DHCP Option Set, with empty `domain-name`, is assigned to the cluster VPC, and a node joins the cluster shortly after, the node syncing in the cloud provider's node-controller fails with the following:
[code]
And the node, after briefly appearing
[code]
is then deleted shortly after.

**What you expected to happen**:
The node syncing should succeed, as the inst

[2022-05-19 20:22] olemarkus commented on #384
We lack some documentation in this area, but if you enable Resource-based naming on your instances, custom DHCP options will work. If you use IP-based naming, CCM will expect the FQDN of IP-based hostnames.

[2022-05-19 20:49] mjbright opened #385 "Documentation: Links on Getting-Started page are out of date"
**What happened**:

I referred to the getting started page at https://kubernetes.github.io/cloud-provider-aws/getting_started/.

I tried to download the rbac.yaml referred to in the text:
```https://raw.githubusercontent.com/kubernetes/cloud-provider-aws/master/manifests/rbac.yaml```

Same thing for
 ```https://raw.githubusercontent.com/kubernetes/cloud-provider-aws/master/manifests/aws-cloud-cont

[2022-05-22 06:16] olemarkus commented on #349
I think we can close this one as we do not see these errors anymore.

[2022-05-22 06:16] olemarkus commented on #349
/close

[2022-05-22 06:16] #349 closed

[2022-05-23 09:46] JoelSpeed commented on #384
IP based naming is the default and most commonly used across AWS end users. I feel like we should try to fix this rather than providing a workaround that some may call a breaking change. Certainly in some managed software offerings based on Kubernetes I would expect that workaround to be considered an unacceptable change as the node naming must be consistent for a node during its own lifetime, but

[2022-05-28 04:54] olemarkus commented on #301
/remove-lifecycle rotten

[2022-05-31 18:30] saurav-agarwalla commented on #325
This AI is now complete.

[2022-06-01 06:35] #301 closed

[2022-06-05 23:17] davidopp-db opened #398 "Rate limit deregister instances from load balancer?"
**What would you like to be added**:
Evicting pods from unhealthy nodes is rate limited, as described [here](https://kubernetes.io/docs/concepts/architecture/nodes/#rate-limits-on-eviction). But deregistering nodes as load balancer back-ends when nodes are unhealthy is not rate limited. Would it be useful to add such functionality? If it were added, I'm not sure if the default should be the curren

[2022-06-06 17:24] pham7quang commented on #80
@saiteja313 could you kindly reopen this issue? This issue still exists.

[2022-06-06 17:35] olemarkus commented on #80
Are you using external CCM with EKS?

[2022-06-07 14:36] andrewstec opened #399 "Official Documentation Support to apply rbac.yaml and aws-cloud-controller-manager-daemonset.yaml"
The official documentation on URL 'https://kubernetes.github.io/cloud-provider-aws/getting_started/#running-on-an-existing-cluster' suggests that we must apply the `rbac.yaml` and `aws-cloud-controller-manager-daemonset.yaml`, but the steps lead to 404 errors due to changes from about 1 year ago.

Further, these files have been removed from the repo.

<img width="1235" alt="image" src="https://use

[2022-06-07 17:16] pham7quang commented on #80
Thanks for the quick reply @olemarkus, I don't think I'm using an External CCM, is there a way I can confirm this?

[2022-06-07 17:17] olemarkus commented on #80
Pretty sure you are not then. You should see the pod(s) running in `kube-system`.

[2022-06-07 17:42] pham7quang commented on #80
The only pods in that namespace for me are: `aws-node`, `coredns`, `efs-csi-controller`, `efs-csi-node`, and `kube-proxy`. So I do not think I have any external CCM. Sorry for my ignorance but should I be using an External CCM to support multiple SSL Certs?

[2022-06-07 18:08] olemarkus commented on #80
You should definitely be using it for claiming a bug exists in the external CCM repository :)

[2022-06-08 09:01] akunszt opened #400 "Where is the image for 1.22.3?"
**What happened**:
This is the first time I tried to deploy cloud-provider-aws. We're using Kubernetes 1.22 so I checked the last release in the 1.22 branch which was 1.22.3 at the time.
Unfortunately cloud-provider-aws uses registry.k8s.io which - as far as I know - doesn't have any UI and doesn't support image listing either. (I use lot of upstream registries and this is the worst/hardest to wor

[2022-06-08 09:06] akunszt commented on #400
I forget to add that I can fetch 1.22.2, 1.22.1 and 1.22.0. Only 1.22.3 is missing.

[2022-06-09 21:35] gelopfalcon opened #401 "Problem to access to pod's logs on a k3s cluster deployment"
**What happened**:
It issue only happens when installing the aws-cloud-controller-manager.

When the command `kubectl logs <pod_name>` is executed it throws an error:
[code]

It seems that the certificate isn't considerating to the local-hostname but when the k3s cluster is created, it is receiving the local-hostname:

[code]

In addition, the serving-kube-apiserver.crt file is using the local-hos

[2022-06-11 05:42] olemarkus commented on #400
Unfortunately the release has been published without the images being promoted. Stay tuned and we'll get them published as soon as we can.

[2022-06-11 06:07] harshitasao commented on #341
/assign

[2022-06-11 08:28] olemarkus commented on #401
the CCM doesn't have a role in returning logs. So the error you are seeing are coming from either an incorrectly configured apiserver or an incorrectly configured kubelet. Most likely it is the kubelet certificate that does not contain the correct name.

[2022-06-11 08:37] olemarkus commented on #400
/triage accepted

[2022-06-11 08:38] olemarkus commented on #401
/remove-kind bug
/kind support

[2022-06-11 15:10] gelopfalcon commented on #401
If you read my ticket, I'm explaining that the problem was found after installing cloud provider aws.
- My cluster was logging without problems.
- Installed cloud provider aws.
- The logs problems started.

I think that your answer isn't considerating my explanation.

Install k3s cluster
[code]

Install cloud provider aws

[code]

[2022-06-11 15:41] olemarkus commented on #401
Yes. Your nodes are incorrectly configured. You need to ensure the certificate for kubelet contains the full fqdn as shown in the error above.

[2022-06-12 03:45] gelopfalcon commented on #401
Reviewing my nodes, I saw that the hostname is the IP, for example ip-172-31-23-203. Should the nodes have the hostname instead of the IP?

[2022-06-12 10:25] olemarkus commented on #401
AWS CCM supports two formats depending on the launch template/instance configuration:
IP based naming: `ip-xxx-xxx-xxx-xxx.<regional doman name>`
Resource based naming: `i-xxxxxxxx`

RBN has no domain part, but IP based must have one. RBN probably requires newer k8s version too. If you are setting up a new cluster you are better off using k8s 1.24.

[2022-06-12 16:30] andrewstec opened #406 "Kubernetes 1.23.1-00 and Cloud-Provider 1.23.0 - error running controllers: failed to parse cidr value:"" with error:invalid CIDR address:"
**What happened**:

The aws-cloud-controller-manager keeps on restarting due to an ability to find the CIDR value on the routes.  Hence, we cannot use the AWS cloud controller manager to handle our AWS API communication.

[code]

**What you expected to happen**:

I expected the aws-cloud-controller-manager container to operate normally so that my cluster could utilize AWS APIs.

**How to reproduce

[2022-06-12 16:38] olemarkus commented on #406
Looks like you aren't passing on the cluster CIDR.

[2022-06-12 17:15] andrewstec commented on #406
That may be a good point. It looks like that based on the logs inside the `aws-cloud-controller-manager` container:

[code]

However, the cidr-range is set here in the `kube-controller-manager.yaml` as 10.0.0.0/16:

[code]

[2022-06-12 17:19] olemarkus commented on #406
The purpose of Cloud Controller Manager is to separate the cloud specifics out of Kube Controller Manager. Hence they run much of the same code. You need to configure CCM with many of the same settings as KCM.

[2022-06-12 21:13] andrewstec commented on #406
This was great information. It wasn't totally obvious to me where the configuration is set (ie. does it come from AWS based off of the resource kubernetes.io/cluster/<name> tags, kube-controller yaml file, or how it was injected in this CCM container). Your feedback was super helpful @olemarkus.

Instead of following the instructions, I did these commands:

[code]

I then added this to the `values

[2022-06-13 05:15] olemarkus commented on #406
/remove-kind bug
/kind support

[2022-06-13 13:00] akunszt commented on #400
Thanks, it is working. Do you have plans to use another registry in the future?
(This issue can be closed, I'm just curios.)

[2022-06-13 13:10] olemarkus commented on #400
No. This registry is the correct one. The "problem" was that the release was published before the images were.
We'll take better care to ensure the images are available before the release are published the next time.

[2022-06-13 13:10] olemarkus commented on #400
/close

[2022-06-13 13:11] #400 closed

[2022-06-14 16:52] prateekgogia commented on #284
/reopen

[2022-06-14 17:00] nckturner commented on #284
/reopen

[2022-06-14 17:24] nckturner commented on #284
/triage accepted
/priority important-soon

[2022-06-14 17:25] nckturner commented on #399
/triage accepted
/priority important-soon

[2022-06-14 17:42] nckturner commented on #284
/remove-lifecycle rotten

[2022-06-14 19:31] #401 closed

[2022-06-15 13:23] qx10 commented on #406
Hello  @andrewstec
I have similar issue. Could you answer a few questions?
Did I understand correctly that the key --cluster-cidr should have the value of a VPC network where EC2 instances run?
Also could you show your policies that you use for CCM? My policies differ from the example from documentation example due to security requirements.

[2022-06-16 14:34] DavidRayner opened #410 "Missing image referenced in chart values & manifests for v1.21.2"
**What happened**:

Attempted deployment using manifests in the `v1.21.2` branch
The `cloud-controller-manager` image does not exist so the pod has `ImagePullBackOff`

**What you expected to happen**:

The app should run using the appropriate image

**How to reproduce it (as minimally and precisely as possible)**:

`docker pull gcr.io/k8s-staging-provider-aws/cloud-controller-manager:v1.21.0-alpha

[2022-06-17 04:59] olfway commented on #63
/remove-lifecycle stale

[2022-06-17 05:26] olemarkus commented on #63
I think we can close this one now. See https://cloud-provider-aws.sigs.k8s.io/prerequisites/

[2022-06-17 07:14] qx10 commented on #406
@andrewstec @olemarkus thank you for your answers so much!
Yes, I use Calico in my cluster, and autoscaling actions is present in policy. Unfortunately, unable to devote much time to this task. I'll let you know about the results, when I resolve the problem.

[2022-06-17 12:22] DavidRayner commented on #226
I too would like this feature

[2022-06-17 18:05] olemarkus commented on #406
There is a `./hack/kops-example.sh` script that provisions a working kops cluster using CCM. It may worth looking at that configuration and copy it for your own setup.

[2022-06-19 16:27] zer0stars opened #419 "Wrong Target Type"
Trying to use in tree aws provider with Ip based targets. Also, where can I find the logs for the in-tree provider? How can I force it to re-create the target groups?

**What happened**:
LoadBalancer targets get created with target type:instance.

**What you expected to happen**:
Loadbalancer targets to get created with target type: ip

**How to reproduce it (as minimally and precisely as possible

[2022-06-19 16:36] olemarkus commented on #419
This project is for the out-of-tree cloud-provider. When using EKS, the in-tree cloud provider is a part of the managed service, so a start may be to reach out to AWS support.

[2022-06-23 03:15] CaiNiaoHui opened #427 "How to run “cloud-provider-aws” application in local test"
/triage support

I want to run the cloud-provider-aws 1.21.2 code in local for test.
Now I am running the k8s cluster. And I have kube-config and aws account token stored in the local.
I only set cloud-config parameters and --cloud-provider parameter, then I  run "cloud-provider-aws" program.
 as you know, it failed. The error log is "no configuration has been provided, try setting KUBERNETES_MAST

[2022-06-23 03:28] CaiNiaoHui commented on #427
I install "cloud-provider-aws" plugin into the cluster by official helm chart package. I find some parameters need to set : this is log:
![image](https://user-images.githubusercontent.com/29849201/175202649-c77b083a-48c7-4c54-b00e-022cabbec838.png)

[2022-06-23 05:15] hakman commented on #410
v1.21.2 image should be available now:
https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/us/provider-aws/cloud-controller-manager@sha256:454387af4fbfae72205b2b571a96bac2e35af6e1319c179207013b2a1ca5d510/details

[2022-06-23 06:28] olemarkus commented on #427
Most of these flags should match the flags you set for kube-controller-manager.

[2022-06-23 08:37] DavidRayner commented on #410
That image was available before I raised this issue. The problem is that `manifests/base/aws-cloud-controller-manager-daemonset.yaml` and `charts/aws-cloud-controller-manager/values.yaml` both reference an image tag that does not exist:

https://github.com/kubernetes/cloud-provider-aws/blob/release-1.21/manifests/base/aws-cloud-controller-manager-daemonset.yaml#L31
https://github.com/kubernetes/cl

[2022-06-26 18:30] #271 closed

[2022-07-01 14:20] andrewmyhre opened #428 "Values cannot be replaced, only appended to or removed entirely"
Due to [this unintuitive behavior in Helm](https://github.com/helm/helm/issues/6465), it is not possible to override the nodeSelector or tolerations with just values specified in an override values.yaml. This is challenge because in recent versions of Kubernetes the standard label for control-plane nodes has changed from `node-role.kubernetes.io/master` to `node-role.kubernetes.io/control-plane`,

[2022-07-01 19:57] wmedlar commented on #252
/reopen

We keep running into this.

[2022-07-04 11:48] Dimpison commented on #252
Having the same problem as well.

[2022-07-10 17:30] kwohlfahrt commented on #428
FWIW, I was able to schedule the controller manager using the following config:
[code]

Note the `nodeSelector` has to use a `null` value to remove the old `master` selector (as per helm/helm#1966), but both taints have to be tolerated, because they are both still present until `v1.25`.

This schedules one instance of the pod, which is correct (this is a single-master test):
[code]

[2022-07-12 21:30] kwohlfahrt opened #430 "Helm chart does not select control-plane nodes on 1.24"
**What happened**:

When deploying the cloud provider from the Helm Chart using the configuration below, the daemonset selects no nodes to deploy on.

[code]

This additional configuration is required (note that `node-role.kubernetes.io/master: null` is required to _remove_ this selector):

[code]

**What you expected to happen**:

I expect the helm chart to successfully deploy without having to s